
.app__notification-container--top {
  position: absolute;
  left: 50%;
  border-radius: 4px;
  text-align: center;
  padding: 10px 30px;
  z-index: 1000;

  &--confirmation {
    background: lightgreen;
  }

  &--warning {
    background: coral;
  }

  &--error {
    background: orangered;
  }

  &--newTask {
    background: cornflowerblue;
  }
}

.margin-top {
  margin-top: 10px;
}

.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.form-step {
  display: none;

  &.active {
    display: block;
  }
}

.form-step-tab {
  float: left;
  padding: 10px 15px;
  border: none;
  border-radius: 0;
  margin-right: 15px;
  cursor: pointer;

  &:hover {
    background-color: #eeeeee;
  }
}

.import-panel__action-center {
  padding: 10px 0;
  border-top: 1px solid lightgrey;
}
