.existing {
  margin-top: 35px;
  border: 3px solid transparent;
  border-radius: 4px;
  padding: 15px;
}

.existing-warning {
  border-color: #E86030;
}

.existing-success {
  border-color: $brand-success;
}

.associated-protein-link,
.edit-protein-link {
  color: #3495D2;
  cursor: pointer;
  margin: 10px 0;
}

.translator--sequence-viewer {
  border: 2px solid lightgray;
  min-height: 200px;
  padding: 0 0 5px 10px;
  margin-top: 10px;
  border-radius: 4px;
}
.nucleotide-input-container,
.translator--scroll-input-container {
  height: 215px;
  @media (max-width: $screen-md-min) {
    height: auto;
  }
}

.translator--scroll-input-container {
  @media (max-width: $screen-md-min) {
    padding-right: 9px;
    margin-left: 1px;
    margin-top: 7px;
  }
}

.translator--buffer {
  height: 61px;
}

.translator--relative-container {
  position: relative;
  padding-bottom: 10px;
}

.translator--sequence-viewers-container {
  max-height: 350px;
  overflow-y: scroll;
  padding-bottom: 20px;
  width: 100%;
}

.translator--overlay-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: rgba(255, 255, 255, 0.65);
}

.translator--toggle-container {
  margin: 10px 0;
}

.translator--toggle__wizard {
  color: #3495D2;
}

.translator--toggle__raw-input {
  color: gray;
  cursor: default;
}

.translator--scroll-input-container .help-block {
  margin-left: -100%;
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  top: -100px;
}

.translator--scroll-input-container .has-error .form-control,
.translator--scroll-input-container .has-feedback .form-control {
  padding-right: 12px;
}

.translator-wizard .form-group {
  margin-bottom: 5px;
}

.translator-sm--title {
  @media (max-width: $screen-md-min) {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
