//== Standalone Buttons
//

.labkey-button {
  background-color: $lk-button-bg-color;
  border: 1px solid $lk-button-border-color;
  border-radius: $lk-button-border-radius;
  color: $lk-button-color;
  display: inline-block;
  letter-spacing: 0.5px;
  padding: $lk-button-padding;
  font-size: $lk-font-size-small;
  font-weight: $lk-button-font-weight;
  text-align: center;
  text-transform: $lk-button-text-transform;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    background-color: $lk-button-bg-color-hover;
    border: 1px solid $lk-button-border-color-hover;
    color: $lk-button-color-hover;
    cursor: pointer;
  }

  &.disabled, &.labkey-disabled-button, &[disabled] {
    cursor: not-allowed;
    opacity: $lk-button-disabled-opacity;

    &:active,
    &:hover,
    &:focus {
      /* Intentionally not using *-hover variables */
      background-color: $lk-button-bg-color;
      border: 1px solid $lk-button-border-color;
      color: $lk-button-color;
      cursor: pointer;
    }
  }
}

.labkey-down-arrow {
  /* Keep these properties separated as bg-color is overridden with theme */
  background-image: url('#{$internal-images-dir}/arrow_down.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 16px;
}

.labkey-button-bar {
  white-space: nowrap;

  .labkey-button {
    background-color: $lk-bar-button-bg-color;
    border: $lk-bar-button-border;
    color: $lk-bar-button-color;

    margin-right: 5px;

    &.icon-only {
      padding: 4px 20px;
    }

    &:active,
    &:hover,
    &:focus {
      background-color: $lk-bar-button-bg-color-hover;
      border: $lk-bar-button-border-hover;
      color: $lk-bar-button-color-hover;
    }

    &.disabled, &.labkey-disabled-button, &[disabled] {
      cursor: not-allowed;
      opacity: $lk-button-disabled-opacity;

      &:active,
      &:hover,
      &:focus {
        background-color: $lk-bar-button-bg-color;
        border: $lk-bar-button-border;
        color: $lk-bar-button-color;
      }
    }
  }
}