//== Standalone Buttons
//

.labkey-button {
  background-color: $lk-button-bg-color;
  @include gradient-vertical($lk-button-bg-color-start, $lk-button-bg-color-end);
  border-width: $lk-button-border-size;
  border-style: solid;
  border-color: $lk-button-border-color;
  border-radius: $lk-button-border-radius;
  color: $lk-button-color;
  display: inline-block;
  font-size: $lk-button-font-size;
  font-family: $lk-button-font-family;
  font-weight: $lk-button-font-weight;
  letter-spacing: 0.5px;
  padding: $lk-button-padding;
  text-align: center;
  text-transform: $lk-button-text-transform;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;

  &:active,
  &:hover,
  &:focus {
    background-color: $lk-button-bg-color-hover;
    background-image: none;
    border-color: $lk-button-border-color-hover;
    color: $lk-button-color-hover;
    cursor: pointer;
  }

  &.primary {
    background-color: $lk-button-primary-bg-color;
    @include gradient-vertical($lk-button-bg-color-start, $lk-button-bg-color-end);
    border: $lk-button-primary-border-size solid $lk-button-primary-border-color;
    color: $lk-button-primary-color;

    &:active,
    &:hover,
    &:focus {
      background-color: $lk-button-primary-bg-color-hover;
      background-image: none;
      border-color: $lk-button-primary-border-color-hover;
      color: $lk-button-primary-color;
    }
  }

  &.disabled, &.labkey-disabled-button, &[disabled] {
    border-color: $lk-button-disabled-color;
    color: $lk-button-disabled-color;
    cursor: not-allowed;

    &:active,
    &:hover,
    &:focus {
      background-color: $lk-button-bg-color;
      @include gradient-vertical($lk-button-bg-color-start, $lk-button-bg-color-end);
      border-color: $lk-button-disabled-color;
      color: $lk-button-disabled-color;
      cursor: not-allowed;
    }
  }
}

.labkey-down-arrow {
  /* Keep these properties separated as bg-color is overridden with theme */
  background-image: url('#{$internal-images-dir}/arrow_down.png');
  background-repeat: no-repeat;
  background-position: right;
  padding-right: 16px;
}

.labkey-button-bar {
  white-space: nowrap;

  .labkey-button {
    background-image: none;
    background-color: $lk-bar-button-bg-color;
    border: $lk-bar-button-border;
    color: $lk-bar-button-color;
    font-family: $lk-bar-button-font-family;

    margin-right: 5px;

    &.icon-only {
      padding: 4px 20px;
    }

    &.labkey-down-arrow {
      /* Keep these properties separated as bg-color is overridden with theme */
      background-image: url('#{$internal-images-dir}/arrow_down.png');
    }

    &:active,
    &:hover,
    &:focus {
      background-color: $lk-bar-button-bg-color-hover;
      border: $lk-bar-button-border-hover;
      color: $lk-bar-button-color-hover;
    }

    &.disabled, &.labkey-disabled-button, &[disabled] {
      cursor: not-allowed !important;
      color: $lk-button-disabled-color;

      &:active,
      &:hover,
      &:focus {
        background-color: $lk-bar-button-bg-color-hover;
        background-image: none;
        color: $lk-button-disabled-color;
        border: $lk-bar-button-border;
      }
    }
  }
}

.labkey-button-bar-separate {
  margin-top: 10px;

  .labkey-button {
    margin-right: 5px;
  }
}