.lk-region-ct {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  & > * {
    flex: 1 100%;
  }

  .lk-region-fixed {
    table-layout: fixed;
  }

  .lk-region-section {

    display: none;

    // 12-based flex pattern
    &.west   { order: 1; flex: 1 auto; }
    &.center { order: 2; flex: 10 0; }
    &.east   { order: 3; flex: 1 auto; }
    &.south  { order: 4; }
  }
}

.labkey-data-region-auth {
  display: inline-block;
  border: 1px solid #DDDDDD;
}

/* Within the wrap do not outline the Data Region */
.labkey-data-region-wrap table.labkey-show-borders {
  border-right-width: 0;
  border-bottom-width: 0;
}

div.facet_header {
  height: 34px;
  border-color: #DDDDDD;
  background: $lk-grid-color none;
  box-shadow: none;
  border-bottom: 1px solid black;
}

.facet-wrap {
  float: left;
}

.region-wrap {
  float: right;
}

/* Used to draw a border around the entire data region table when showBorders = false */
table.labkey-show-surrounding-border {
  border: 1px solid #DDDDDD;
}

.labkey-data-region {
  thead tr {
    background-color: $white;
  }

  th, .labkey-column-header {
    border-bottom: solid 1px #AAAAAA;
    padding: 1px 4px;
    vertical-align: top;
  }

  .labkey-col-total {
    span.summary-stat-label {
      font-weight: bold;
    }

    td {
      vertical-align: top;
    }
  }

  /* Used for the unbordered empty or title cells sometimes put on tables */
  .labkey-data-region-title {
    background-color: $white;
    border: 0;
    border-top: hidden;
    border-left: hidden;
    font-weight: bold;
  }

  /*
  "Pagination" is used with data views that don't display all the data on one page.
  This class is for the area with the links to change between the pages
  */
  .labkey-pagination {
    white-space: nowrap;
  }

  /* Used for checkboxes in Data Regions */
  .labkey-update, .labkey-details, .labkey-selectors {
    text-align: left;
    width: 80px;
  }

  /* experimental -- support row highlighting. Expects class to be added to <tr> */
  tr.lk-row-hl > td {
    background-color: #ffc; //#fef5dd;
    //border-top: 2px solid #fbc02d !important;
    //border-bottom: 2px solid #fbc02d !important;
  }

  tr.lk-row-over > td {
    //background-color: #efefef;
    background-color: #e2e2e2;
  }
}

.lk-region-bar {
  padding-bottom: 10px;
}

.lk-region-context-action {
  background-color: lighten($lk-accent-color, 15%);
  border: 1px solid $lk-accent-color;
  border-radius: 14px;
  display: inline-block;
  padding: 2px 7px;
  position: relative;
  margin: 0 5px 5px 0;
  vertical-align: top;
  white-space: pre-wrap;

  i.fa {
    color: $white;
    padding-right: 5px;
  }
}

.lk-region-drawer {
  //position: absolute;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  background-color: $white;
  top: 0;
  width: 100%;
  z-index: 20001;
  margin-bottom: 10px;
}

.lk-region-drawer-container {
  //display: none;
  position: relative;
}

.labkey-data-region-header-container {
  background-color: $lk-grid-ct-bg-color;
  border: 1px solid #b4b4b4;

  td {
    border: 0;
  }
}

table.labkey-fixed-width-columns {
  table-layout: fixed;
}

.labkey-has-row-totals col, .labkey-has-col-totals col {
  border-right: solid 1px #DDDDDD;
  border-left: solid 1px #DDDDDD;
}

/* Used for the normal rows in data regions, sometimes these rows are not given a class */
.labkey-row td, .labkey-row th, tr.labkey-row, div.labkey-row {
  background-color: $lk-grid-row-bg-color;
}

/* Used for the shaded alternate rows */
.labkey-alternate-row td, .labkey-alternate-row th, tr.labkey-alternate-row, td.labkey-alternate-row, th.labkey-alternate-row, div.labkey-alternate-row {
  background-color: $lk-grid-row-alt-bg-color;
}

/* Used for the shaded alternate columns (for pivot queries) */
.labkey-alternate-col td, .labkey-alternate-col th, tr.labkey-alternate-col, td.labkey-alternate-col, th.labkey-alternate-col {
  background: #F6F6F6;
}

/* Used for the shaded alternate rows and alternate columns (for pivot queries) */
.labkey-alternate-row .labkey-alternate-col td, .labkey-alternate-row .labkey-alternate-col th, tr.labkey-alternate-row .labkey-alternate-col, td.labkey-alternate-row .labkey-alternate-col, th.labkey-alternate-row .labkey-alternate-col {
  background: #F0F0F0;
}

/* Used for the normal rows in data regions, sometimes these rows are not given a class */
.labkey-error-row td, .labkey-error-row th, tr.labkey-error-row, td.labkey-error-row {
  border-top: 1px solid #990000;
  border-bottom: 1px solid #990000;
  background: #FFDDDD;
  border-collapse: separate;
}

/* Used for the shaded alternate rows */
.labkey-error-row.labkey-alternate-row td, .labkey-error-row.labkey-alternate-row th, tr.labkey-error-row.labkey-alternate-row, td.labkey-error-row.labkey-alternate-row, th.labkey-error-row.labkey-alternate-row {
  background: #FFBBBB;
}

.labkey-col-header-filter {

  &:hover,
  th:hover {
    background-color: $lk-grid-color;
    cursor: pointer;
  }
}

/* Used to highlight cells with a darker color, limited use right now */
td.labkey-highlight-cell, th.labkey-highlight-cell {
  background: #AAAAAA;
  font-weight:bold;
}

/* Used for blank cells in the data region such as when the main row headers have sub row headers */
td.labkey-blank-cell, th.labkey-blank-cell {
  background: #FFFFFF;
  border: 0;
}

/* Used for tables nested within a dataregion cell */
.labkey-noborder {
  td, tr {
    border: 0 !important;
    padding-right: 0;
    border-collapse: collapse;
  }
}

.labkey-column-header {
  span {
    display: none;
    padding-left: 5px;
  }

  &.labkey-filtered {
    span.fa-filter {
      display: inline;
    }
  }

  &.labkey-sort-asc {
    span.fa-sort-up {
      display: inline;
    }
  }

  &.labkey-sort-desc {
    span.fa-sort-down {
      display: inline;
    }
  }
}