.lk-region-ct {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

  & > * {
    flex: 1 100%;
  }

  .lk-region-section {

    display: none;

    // 12-based flex pattern
    &.west   { order: 1; flex: 1 auto; }
    &.center { order: 2; flex: 10 0; }
    &.east   { order: 3; flex: 1 auto; }
    &.south  { order: 4; }

    .script-report-editor-msg {
      padding: 5px 15px;
      background-color: $lk-grid-bar-bg-color;
      border-top: none;
      border-left: $lk-grid-outer-border-width solid $lk-grid-outer-border-color;
      border-right: $lk-grid-outer-border-width solid $lk-grid-outer-border-color;
      border-bottom: none;

      display: block;
    }
  }
}

/* Within the wrap do not outline the Data Region */
.labkey-data-region-wrap table.labkey-show-borders {
  border-right-width: 0;
  border-bottom-width: 0;
}

.labkey-data-region {
  width: 100%;
  font-family: $lk-grid-font-family;

  thead tr {
    background-color: $white;
  }

  th, .labkey-column-header {
    border-bottom: solid 1px #AAAAAA;
    padding: 1px 4px;
    vertical-align: top;
    position: relative;

    &.dropdown:hover,
    > .dropdown-toggle:hover {
      cursor: pointer;
    }

    // 31304: click target should fill the entire cell
    > div.dropdown-toggle {
      position:absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
    }
  }

  .labkey-group-column-header {
    border-bottom: solid 1px $lk-grid-border-color;
    text-align: center;
  }

  .labkey-col-total {
    span.summary-stat-label {
      font-weight: bold;
    }

    td {
      vertical-align: top;
      background-color: #F0F0F0;
    }
  }

  /* Used for the unbordered empty or title cells sometimes put on tables */
  .labkey-data-region-title {
    background-color: $white;
    border: 0;
    border-top: hidden;
    border-left: hidden;
    font-weight: bold;
  }

  /* Used for checkboxes in Data Regions */
  .labkey-update, .labkey-details, .labkey-selectors {
    text-align: left;
    /* width is calculated based on presence of update, details, selectors */
  }

  /* TODO: Make this the same as "danger" */
  tr.labkey-error-row {

    & > td {
      background: #ffdddd;
    }

    &.labkey-alternate-row > td {
      background: #ffbbbb;
    }
  }

  tr.lk-row-hl, tr.lk-row-hl.lk-row-over {
    & > td {
      color: $lk-grid-row-select-text-color;
      background-color: $lk-grid-row-select-color;
      & > a {
        color: $lk-grid-row-select-link-color;
      }
    }
  }

  tr.lk-row-over > td {
    background-color: $lk-grid-row-color-hover;
  }

  .lk-dr-action-icon {
    color:$lk-link-color;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0;
  }

  tr.lk-row-hl, .lk-row-over {
    .lk-dr-action-icon {
      opacity: 1;
    }
  }

  .labkey-participant-view-header {
    font-weight: bold;
    border: solid 1px #808080;
  }

  .labkey-expandable-row-header {
    text-align: left;
    background-color: #e5e5e5;
    border: solid 1px #808080;
    padding-left: 10px;
  }
}

.lk-region-bar {
  padding: 5px 15px;
  background-color: $lk-grid-bar-bg-color;
  border-top: $lk-grid-outer-border-width solid $lk-grid-outer-border-color;
  border-left: $lk-grid-outer-border-width solid $lk-grid-outer-border-color;
  border-right: $lk-grid-outer-border-width solid $lk-grid-outer-border-color;
  border-bottom: none;

  &:before, &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }

  &.lk-msg-bar {
    padding: 0;

    & > .alert {
      border: none;
      padding: 5px 15px;
      margin: 0;
    }
  }
}

.lk-region-header-bar {
  background-color: $lk-grid-header-bar-bg-color;
}

.panel-body .lk-region-header-bar {
  background-color: $lk-grid-header-bar-bg-color-portal;
}

.lk-region-context-bar {
  padding: 0 15px 10px;
}

.lk-region-context-action {
  background-color: $white;
  border: 1px solid $lk-grid-filter-border-color;
  border-radius: 14px;
  float: left;
  padding: 2px 7px;
  margin-right: 5px;
  margin-top: 10px; // allows space when nested, used in conjunction with lk-region-context-bar top padding
  vertical-align: top;
  white-space: nowrap;

  max-width: 300px;
  overflow: hidden;
  text-overflow: ellipsis;

  i.fa {
    color: $lk-grid-filter-icon-color;
    padding-right: 5px;
  }

  &.selectable {
    &:hover {
      cursor: pointer;
    }
  }
}

.lk-region-drawer {
  border-top: $lk-grid-outer-border-width solid $lk-grid-outer-border-color;
  border-left: $lk-grid-outer-border-width solid $lk-grid-outer-border-color;
  border-right: $lk-grid-outer-border-width solid $lk-grid-outer-border-color;
  border-bottom: none;
  background-clip: padding-box;
  background-color: $white;
  padding: 15px;
  z-index: 20001;
}

.lk-region-drawer-container {
  position: relative;
}

.lk-region-drawer .tab-content > .tab-pane {
  padding: 5px;
}

.labkey-data-region-header-container {
  background-color: $lk-grid-ct-bg-color;
  border: 1px solid #b4b4b4;

  td {
    border: 0;
  }
}

.labkey-has-row-totals col, .labkey-has-col-totals col {
  border-right: solid 1px $lk-grid-inner-border-color;
  border-left: solid 1px $lk-grid-inner-border-color;
}

/* Used for the normal rows in data regions, sometimes these rows are not given a class */
.labkey-row td, .labkey-row th, tr.labkey-row, div.labkey-row {
  background-color: $lk-grid-row-bg-color;
}

/* Used for the shaded alternate rows */
.labkey-alternate-row > td, .labkey-alternate-row > th, tr.labkey-alternate-row, td.labkey-alternate-row, th.labkey-alternate-row, div.labkey-alternate-row {
  background-color: $lk-grid-row-alt-bg-color;
}

/* Used for the shaded alternate columns (for pivot queries) */
.labkey-alternate-col td, .labkey-alternate-col th, tr.labkey-alternate-col, td.labkey-alternate-col, th.labkey-alternate-col {
  background: #F6F6F6;
}

/* Used for the shaded alternate rows and alternate columns (for pivot queries) */
.labkey-alternate-row .labkey-alternate-col td, .labkey-alternate-row .labkey-alternate-col th, tr.labkey-alternate-row .labkey-alternate-col, td.labkey-alternate-row .labkey-alternate-col, th.labkey-alternate-row .labkey-alternate-col {
  background: #F0F0F0;
}

/* Used to highlight cells with a darker color, limited use right now */
td.labkey-highlight-cell, th.labkey-highlight-cell {
  background: #AAAAAA;
  font-weight:bold;
}

/* Used for blank cells in the data region such as when the main row headers have sub row headers */
td.labkey-blank-cell, th.labkey-blank-cell {
  background: #FFFFFF;
  border: 0;
}

/* Used for tables nested within a dataregion cell */
.labkey-noborder {
  td, tr {
    border: 0 !important;
    padding-right: 0;
    border-collapse: collapse;
  }
}

.labkey-column-header {
  span.fa {
    display: none;
    padding-left: 5px;

    &.fa-chevron-circle-down {
      color: $lk-grid-sort-icon-color;
      display: inline;
      float: right;
    }
  }

  &.labkey-filtered {
    span.fa-filter {
      display: inline;
    }
  }

  &.labkey-sort-asc {
    span.fa-sort-up {
      display: inline;
    }
  }

  &.labkey-sort-desc {
    span.fa-sort-down {
      display: inline;
    }
  }

  &.labkey-selectors > span.dropdown-toggle {
    display: inline-block;
    background: url('#{$internal-images-dir}/arrow_down.png') right no-repeat;
    width: 16px;
    height: 10px;
  }
}

.labkey-group-tables {
  .control-label {
    word-break: normal;
    font-weight: normal;
    padding: 5px;
  }

  .control-header-label {
    word-break: normal;
    padding: 0 10px 0 0;
    white-space: nowrap;
  }

  td {
    border-collapse: separate;
    border-spacing: 2px;
    padding: 2px;
  }

  .labkey-input-cell > div {
    width: 100%;
    padding: 2px;
  }
}

.form-control-static {
  min-height: 0;
}

/* This is for HTML tables that previously used the labkey-data-region cls for styling */
.labkey-data-region-legacy {
  background-color: #FFFFFF;

  &.labkey-show-borders {
    border: 1px solid $lk-grid-outer-border-color;
  }

  &.labkey-show-borders td, &.labkey-show-borders th {
    border-top: 0;
    border-left: 0;
    border-right: solid 1px $lk-grid-inner-border-color;
    border-bottom: solid 1px $lk-grid-inner-border-color;
  }

  th, .labkey-column-header, .labkey-row td, .labkey-alternate-row td {
    padding: 1px 4px;
  }

  th, .labkey-column-header {
    border-bottom: solid 1px #AAAAAA !important;
    vertical-align: top;
  }
}

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.labkey-pagination {
  white-space: nowrap;
}

.paging-widget {
  display: inline-block;
  top: 1px;
  > a {
    padding: 4px 3px;
    color: $gray-base;
    border: 1px solid transparent;
    &:hover {
      border: 1px solid lightgray;
      cursor: pointer;
    }
  }
}

table.table-xtab-report {

  border: 1px solid $lk-grid-border-color;

  td, th, tr {
    line-height: $lk-line-height-base;
    padding: 3px 5px;
    vertical-align: top;
  }

  th {
    font-weight: bold;
    text-align: center;
  }

  td {
    border: 1px solid $lk-grid-border-color;
  }

  .xtab-col-header, .xtab-col-total,
  .xtab-row-header, .xtab-row-total {
    background-color: #EEEEEE;
    font-weight: bold;
  }

  .xtab-stat-title {
    border: 1px solid $lk-grid-border-color; // make same as table border color
    font-style: italic;
  }
}

.form-mode-details {
  margin-bottom: 20px;
}