.labkey-page-header {
  color: $lk-page-header-color;
  background-color: $lk-page-header-bg-color;
  padding: $lk-page-header-padding;

  .container,
  .container-fluid {
    position: relative;
  }

  .fa {
    font-size: $lk-page-header-icon-size;
  }

  .nav > li > a {
    &:hover, &:focus {
      color: #ADD4ED;
      background-color: $lk-page-header-bg-color;
    }
  }

  .navbar-header {
    float: left;

    i:hover, i:focus {
      color: $lk-webpart-color;
    }

    .brand-logo {
      margin-left: 15px;
    }

    .brand-logo-mobile {
      margin: 0 15px;
    }

    .brand-link {
      vertical-align: middle;
      display: inline-block;
      margin: 0;
      padding-top: 2px; // align text with icon

      & > a {
        color: $lk-page-header-color;
      }
    }
  }

  .navbar-nav-lk {
    list-style: none;
    margin-bottom: 0;
    float: right;

    @media (max-width: $lk-screen-sm-min) {
      position: static;
      float: right;

      .dropdown {
        position: static;
      }

      .dropdown-menu {
        font-size: $lk-font-size-large;
        background-color: $lk-dropdown-bg-color;
        color: $lk-dropdown-link-color;
        position: absolute;
        top: 30px;
        overflow: hidden;
        background-clip: padding-box;
        z-index: 9000;
        height: auto;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        left: 0;
        right: 0;

        & > ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & > li > a {
            display: block;
            padding: 8px 15px 8px 45px;
          }
        }
      }
    }

    @media (max-width: $lk-screen-sm-min) {
      .dropdown.open::before {
        border-color: transparent transparent #fff transparent;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        bottom: 0;
        content: '';
        height: 0;
        margin-left: 6px;
        position: absolute;
        width: 0;
        z-index: 1000041;
        margin-bottom: -13px;
      }
    }

    @media (min-width: $lk-screen-sm-min) {
      .dropdown.open a.dropdown-toggle::before {
        border-color: transparent transparent #fff transparent;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        bottom: 0;
        content: '';
        height: 0;
        left: 50%;
        margin-left: -11px;
        position: absolute;
        width: 0;
        z-index: 1000041;
        margin-bottom: -13px;
      }
    }

    & > li {
      float: left;

      & > a {
        display: block;
        color: $lk-page-header-color;
        padding: $lk-page-header-navbar-nav-padding;

        &:hover,
        &:focus {
          color: $lk-page-header-navbar-nav-hover-color;
        }
      }
    }

    .dropdown-menu {
      margin-top: 12px; // TODO: make this relative to the header height
      z-index: 20001;
    }
  }

  .navbar-search {
    position: relative;

    .global-search {
      position: absolute;
      top: 0;
      width: 0;
      right: 35px;
      overflow: hidden;
      transition: width .25s ease;

      .search-box {
        border: 0;
        display: block;
        height: 32px;
        margin: 0;
        padding: 0 45px 0 5px;
        width: 300px;
        color: $lk-input-color;
      }

      .btn-search {
        background-color: transparent;
        height: 32px;
        border: 0;
        margin: 0;
        top: 6px;
        display: block;
        position: absolute;
        width: 24px;
        cursor: pointer;
        right: 0;
      }
    }

    &.active {
      .global-search {
        width: 300px;
      }

      & > .fa-search::before {
        content: "\F00D";
      }
    }
  }

  #global-search-xs {

    .dropdown-menu > li {
      padding: 3px 20px;

      .input-group {
        width: 100%;
      }

      .search-box {
        line-height: 1.8;
        padding: 5px;
        width: 100%;
      }
    }
  }
}

.labkey-notification-panel,
.labkey-notification-footer {
  background-color: $lk-page-header-notification-bg-color;
}