.labkey-page-header {
  background-color: $lk-page-header-bg-color;
  padding: $lk-page-header-padding;

  .container,
  .container-fluid {
    position: relative;
  }

  .fa {
    font-size: $lk-page-header-icon-size;
  }

  .navbar-header {
    float: left;
    white-space: nowrap;

    i:hover, i:focus {
      color: $lk-webpart-color;
    }

    .brand-logo {
      margin-left: 15px;
    }

    .brand-logo-mobile {
      margin: 0 15px;
    }

    .brand-link {
      vertical-align: middle;
      display: inline-block;
      margin: 0;

      & > a {
        color: $lk-page-header-text-color;
      }
    }
  }

  .navbar-nav-lk {
    list-style: none;
    margin-bottom: 0;
    float: right;

    @media (max-width: $lk-screen-sm-min) {
      position: static;
      float: right;

      .dropdown {
        position: static;
      }

      .dropdown-menu {
        font-size: $lk-font-size-large;
        background-color: $lk-dropdown-bg-color;
        color: $lk-dropdown-link-color;
        position: absolute;
        top: 30px;
        overflow: hidden;
        background-clip: padding-box;
        z-index: 9000;
        height: auto;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        left: 0;
        right: 0;

        & > ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & > li > a {
            display: block;
            padding: 8px 15px 8px 45px;
          }
        }
      }
    }

    @media (max-width: $lk-screen-sm-min) {
      .dropdown.open::after {
        border-color: transparent transparent $lk-dropdown-border-color transparent;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        bottom: 0;
        content: '';
        height: 0;
        margin-left: 6px;
        position: absolute;
        width: 0;
        z-index: 1000041;
        margin-bottom: -11px;
      }
      .dropdown.open::before {
        border-color: transparent transparent $lk-dropdown-bg-color transparent;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        bottom: 0;
        content: '';
        height: 0;
        margin-left: 6px;
        position: absolute;
        width: 0;
        z-index: 1000042;
        margin-bottom: -12px;
      }
    }

    @media (min-width: $lk-screen-sm-min) {
      .dropdown.open a.dropdown-toggle::after {
        border-color: transparent transparent $lk-dropdown-border-color transparent;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        bottom: 0;
        content: '';
        height: 0;
        left: 50%;
        margin-left: -11px;
        position: absolute;
        width: 0;
        z-index: 1000041;
        margin-bottom: -13px;
      }
      .dropdown.open a.dropdown-toggle::before {
        border-color: transparent transparent $lk-dropdown-bg-color transparent;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        bottom: 0;
        content: '';
        height: 0;
        left: 50%;
        margin-left: -11px;
        position: absolute;
        width: 0;
        z-index: 1000042;
        margin-bottom: -14px;
      }
    }

    & > li {
      float: left;

      & > a, & > span {
        display: block;
        color: $lk-page-header-text-color; // currently this conflicts with "stop impersonating" and "exit page admin mode" button text color.
        padding: $lk-page-header-navbar-nav-padding;

        &:hover,
        &:focus {
          color: $lk-page-header-font-hover-color;
        }

        &.header-link {
          &:hover,
          &:focus {
            color: $lk-page-header-icon-hover-color;
          }
        }
      }

      & > .btn-primary {
        color: $lk-button-primary-color;
      }

      & > .btn-primary:hover,
      & > .btn-primary:focus {
        color: $lk-button-primary-color-hover;
      }

      & > a.fa, & > a > i.fa {
        color: $lk-page-header-icon-color;

        &:hover,
        &:focus {
          color: $lk-page-header-icon-hover-color;
        }
      }
    }

    .dropdown-menu {
      margin-top: 12px; // TODO: make this relative to the header height
      z-index: 20001;
    }
  }

  .navbar-search {
    position: relative;

    .global-search {
      position: absolute;
      top: 0;
      width: 0;
      right: 35px;
      overflow: hidden;
      transition: width .25s ease;

      .search-box {
        border: 1px solid lightgray;
        display: block;
        height: 32px;
        margin: 0;
        padding: 0 45px 0 5px;
        width: 300px;
        color: $lk-input-color;
      }

      .btn-search {
        background-color: transparent;
        height: 32px;
        border: 0;
        margin: 0;
        top: 6px;
        display: block;
        position: absolute;
        width: 24px;
        cursor: pointer;
        right: 0;
      }
    }

    &.active {
      .global-search {
        width: 300px;
      }

      & > .fa-search::before {
        content: "\F00D";
      }
    }
  }

  #global-search-xs {

    .dropdown-menu > li {
      padding: 3px 20px;

      .input-group {
        width: 100%;
      }

      .search-box {
        line-height: 1.8;
        padding: 5px;
        width: 100%;
      }
    }
  }
}

.lk-body-title {
  margin-bottom: 20px;

  h3 {
    margin: 0;
  }

  .breadcrumb {
    background-color: transparent;
    padding: 0;
    margin-bottom: 8px;
  }
}

.lk-header-ct {
  position: relative;

  .container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* See Notification.css for the rest of the styles. */
.labkey-notification-panel {
  background-color: $lk-notification-bg-color;

  .labkey-notification-footer {
    background-color: $lk-notification-bg-color;
  }
  .labkey-notification-icon {
    color: $lk-text-link-color;
  }
  .labkey-notification-title, .labkey-notification-type-label, .labkey-notification-createdby, .labkey-notification-clear-all, .labkey-notification-footer {
    color: $lk-brand-primary;
  }
  .labkey-notification-type-label {
    border-bottom-color: $lk-grid-border-color !important;
  }
  .labkey-notification-close {
    border-left-color: $lk-grid-border-color !important;
  }
  .labkey-notification-times, .labkey-notification-toggle {
    color: $lk-text-link-color;
  }
  .labkey-notification, .labkey-notification-none, .labkey-notification-body {
    color: $lk-text-link-color;
  }
  .labkey-notification-clear-all:hover, .labkey-notification-footer span:hover, .labkey-notification-times:hover, .labkey-notification-toggle:hover, a:hover {
    color: $lk-text-link-color-hover;
  }
  .labkey-notification:hover, .labkey-notification:hover .labkey-notification-icon {
    background-color: $lk-grid-row-color-hover;
  }
}