.labkey-page-header {
  color: $lk-page-header-color;
  background-color: $lk-page-header-bg-color;
  padding: $lk-page-header-padding;

  .container {
    position: relative;
  }

  .fa {
    font-size: 20px; // set to variable
  }

  .nav > li > a:hover, .nav > li > a:focus {
    color: #ADD4ED;
    background-color: $lk-page-header-bg-color;
  }

  .navbar-header {
    float: left;

    i:hover, i:focus {
      color: $lk-webpart-color;
    }

    .brand-logo {
      margin: 0 15px;
    }
  }

  .navbar-nav-lk {
    list-style: none;
    margin-bottom: 0;
    position: absolute;
    right: 15px;

    @media (max-width: $lk-screen-sm-min) {
      position: static;
      float: right;

      .dropdown {
        position: static;
      }

      .dropdown-menu {
        font-size: $lk-font-size-large;
        background-color: white;
        color: black;
        position: absolute;
        top: 30px;
        overflow: hidden;
        background-clip: padding-box;
        z-index: 9000;
        height: auto;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        left: 0;
        right: 0;

        & > ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & > li > a {
            display: block;
            padding: 8px 15px 8px 45px;
          }
        }
      }
    }

    @media (min-width: $lk-screen-sm-min) {
      .dropdown.open a.dropdown-toggle::before {
        border-color: transparent transparent #fff transparent;
        border-style: solid;
        border-width: 0 11px 11px 11px;
        bottom: 0;
        content: '';
        height: 0;
        left: 50%;
        margin-left: -11px;
        position: absolute;
        width: 0;
        z-index: 1000041;
        margin-bottom: -13px;
      }
    }

    & > li {
      float: left;

      & > a {
        height: 30px;
        display: block;
        color: $lk-page-header-color;
        padding: 5px 8px;

        &:hover {
          color: #EEEEEE;
        }
      }
    }

    .dropdown-menu {
      margin-top: 12px; // TODO: make this relative to the header height
    }
  }

  .navbar-search {

    .global-search {
      position: absolute;
      top: 0;
      width: 0;
      right: 100px;
      overflow: hidden;
      transition: width .25s ease;

      .search-box {
        border: 0;
        display: block;
        height: 32px;
        margin: 0;
        padding: 0 45px 0 5px;
        width: 300px;
        color: black;
      }

      .btn-search {
        background-color: transparent;
        height: 32px;
        border: 0;
        margin: 0;
        top: 6px;
        display: block;
        position: absolute;
        width: 24px;
        cursor: pointer;
        right: 0;
      }
    }

    &.active {
      .global-search {
        width: 300px;
      }

      & > .fa-search::before {
        content: "\F00D";
      }
    }
  }
}

.lk-dropdown-accent {
  border: 1px solid $lk-accent-color;
}

.labkey-accent {
  color: #E86030;
  background-color: white;
}
.labkey-breadcrumb {
  margin-bottom: 0;
  background-color: white;
}
.labkey-accent a {
  color: #E86030;
}
.labkey-nav-search {
  margin-bottom: 0; margin-left: -15px;  margin-right: 15px; display: inline-table;
}
.labkey-nav-search input {
  width: 250px;
  background-color: #9FC1D5;
  border-color: #9FC1D5;
  padding-left: 5px;
}
.labkey-nav-icon {
  display: inline-block;
  width: 30px;
}