/* for Knitr reports in the reports web-part; does not pick up  */
div.labkey-knitr h1
{
  font-size: 2em;
  margin: 0.83em 0;
  font-weight: 500;
}

.labkey-knitr .heading-1, div.labkey-knitr h2
{
  font-size: 1.2em;
  margin: 0.83em 0;
  font-weight: bold;
}

.labkey-knitr .heading-1-1, div.labkey-knitr h3
{
  font-size: 1.0em;
  margin: 0.83em 0;
  font-weight: bold;
}

.labkey-knitr .heading-1-1-1, div.labkey-knitr h4
{
  text-transform: uppercase;
  font-size: 0.8em;
  margin: 0.83em 0 0.0px 0;
  font-weight: bold;
}

.labkey-knitr .code
{
  padding-left: 0.25in;
  padding-top: 5px; padding-bottom:5px;
  background-color: #EEEEEE;
  border: 1px solid #CCCCCC;
  color: #2020BE;
  font-family: $lk-font-family-code;
}

.labkey-knitr pre
{
  margin-top : 0;
  max-width: 95%;
  border: 1px solid #CCCCCC;
  white-space: pre-wrap;
}

.labkey-knitr pre code {
  display: block; padding: 0.5em;
}

.labkey-knitr code.r, .labkey-wiki code.cpp {
  background-color: $lk-body-bg-color;
}