.labkey-page-nav {
  background-color: $lk-page-nav-bg-color;
  min-height: $lk-page-nav-height;

  .nav > li {
    float: left;

    & > a {
      padding: 9px 15px;
      color: $lk-page-nav-color;
      font-family: $lk-font-family-secondary-sans-serif;
      font-weight: $lk-page-nav-font-weight;
      cursor: pointer;

      &:hover, &:focus {
        background-color: $lk-page-nav-bg-color-active;
        color: $lk-page-nav-color-active;
        text-decoration: none;
      }
    }

    &.open > a {
      background-color: $lk-page-nav-bg-color-active;
      color: $lk-page-nav-color-active;
    }
  }

  .navbar-header {
    float: left;

    .navbar-toggle {
      color: $lk-page-nav-color;
      float: left;
      margin: 0;
    }
  }

  .lk-nav-tabs-ct {
    float: right;
    padding: 5px 0 0 15px;
    margin-right: 0;
  }

  .lk-nav-tabs {

    & > li {
      float: left;
      background-color: $lk-page-nav-color-inactive;
      margin: 0 3px;
      border-radius: 3px 3px 0 0;

      & > a {
        display: inline-block;
        border-radius: 3px 3px 0 0;
        padding: 6px 15px 7px 15px;
      }
    }

    & > li.active > a {
      color: $lk-page-nav-color-active;
      background-color: $lk-body-bg-color;
    }

    @media (max-width: $lk-screen-sm-min) {
      position: static;
      float: right;

      .dropdown {
        position: static;
      }

      .dropdown-menu {
        font-size: $lk-font-size-large;
        background-color: $lk-dropdown-bg-color;
        color: $lk-dropdown-link-color;
        position: absolute;
        top: 90px;
        overflow: hidden;
        background-clip: padding-box;
        z-index: 9000;
        height: auto;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
        left: 0;
        right: 0;

        & > ul {
          list-style: none;
          margin: 0;
          padding: 0;

          & > li > a {
            display: block;
            padding: 8px 15px 8px 45px;
          }
        }
      }
    }
  }

  .lk-nav-tabs-admin {
    & > li > a:first-of-type {
      padding: 6px 6px 6px 15px;
      border-radius: 3px 0 0 0;
    }

    & > li > a:last-of-type {
      padding: 6px;
      border-radius: 0 3px 0 0;
    }
  }
}

.project-nav > ul {
  list-style: none;
}

#project-mobile {
  & > a {
    display: inline-block;
  }

  & > .dropdown-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    padding: 0;

    & li > a {
      padding: 8px 28px;
    }

    & li > a.subcollapse {
      padding: 8px 28px 8px 4px;
    }

    & > .lk-header-close {
      height: 50px;
      background-color: $lk-page-header-bg-color;
      padding: 10px 10px 10px 17px;

      & > i {
        color: $lk-page-header-color;
        font-size: $lk-page-header-icon-size;
        padding-right: 10px;
        vertical-align: middle;
      }
    }

    & > .lk-horizontal-menu {
      position: fixed;
      top: 50px;
      left: 0;
      right: 0;
      white-space: nowrap;
      overflow-x: auto;
      background-color: $lk-brand-color;
      padding: 10px;
      font-size: $lk-font-size-large;

      & > li {
        display: inline-block;
        float: none;

        & > a {
          padding: 3px 10px;
          color: $white;

          &:hover, &:focus {
            background-color: $lk-page-nav-bg-color-active;
            color: $lk-page-nav-color-active;
          }
        }
      }

      & > li.open > a {
        background-color: $lk-page-nav-bg-color-active;
        color: $lk-page-nav-color-active;
      }
    }

    & > .lk-dropdown-menu-area {
      display: block;
      position: fixed;
      top: 87px;
      bottom: 0;
      left: 0;
      right: 0;
      border: 0;
      border-radius: 0;
      padding: 10px;
      background-color: white;
      font-size: $lk-font-size-large;

      a.subexpand-link {
        padding: 8px 56px 8px 28px;
      }

      a.subexpand-target {
        display: inline-block;
        padding: 0;
        position: absolute;
        top: 5px;
        right: 14px;

        & > i.fa {
          font-size: $lk-dropdown-submenu-icon-size;
          color: $lk-dropdown-submenu-icon-color;
          border: solid $lk-dropdown-submenu-icon-color 1px;
          padding: 8px 12px;
        }
      }

      & > .lk-project-nav-trail {
        display: block;
        padding: 3px 28px;

        & > a {
          display: inline-block;
          padding: 0 4px;
        }

        & > i.fa {
          font-size: $lk-dropdown-submenu-icon-size;
          color: $lk-dropdown-submenu-icon-color;
          vertical-align: middle;
          padding: 0 4px;
        }
      }

      & > .lk-project-nav-buttons {
        padding: 14px 28px;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: solid $dropdown-divider-bg 1px;
        width: 100%;

        & > .button-icon {
          background-color: transparent;
          width: 50px;
        }
      }

      .lk-project-nav-disabled {
        color: $lk-dropdown-submenu-icon-color;
      }

      .lk-project-nav-tree-selected > a {
        font-weight: bold;
      }
    }
  }
}

.scroll-locked {
  overflow: hidden !important;
}

/* betanav - replaces project-nav */
.beta-nav {
  max-height: 475px;
  min-height: 75px;
  min-width: 280px;
  max-width: 800px;
  white-space: nowrap;
  overflow: hidden;

  .list-content {
    display: inline-flex;

    .title {
      color: $lk-page-nav-color-active;
      font-weight: $lk-page-nav-font-weight;
      padding: 0 5px 5px 5px;
      margin-bottom: 0;
    }
  }

  .project-list-container {
    width: 250px;
    float: left;
    overflow: hidden;
  }

  .project-list {
    border-right: 1px solid $dropdown-divider-bg;

    ul {
      list-style: none;
      padding: 0;
      margin-top: 0;

      li {
        list-style: none;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        padding-right: 25px;

        a {
          padding: 5px;
          display: inline-block;
          width: 100%;
        }

        &.last-active {
          background: $lk-page-nav-color-active url('#{$internal-images-dir}/beta_nav_arrow.png') no-repeat 95% 50%;

          a {
            color: $white;
          }
        }
      }
    }
  }

  .folder-list-container {
    float: right;
    margin-left: 21px;
  }

  .beta-folder-tree {
    max-height: 375px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
  }
}

.beta-nav-buttons {
  padding: 5px 5px 0 2px;
  border-top: solid $dropdown-divider-bg 1px;

  .button-icon {
    background-color: $lk-link-color;
    opacity: 1.0;
    &:hover {
      background-color: $black;
    }
  }

  .beta-nav-button-icon {
    display: inline-block;
    background-color: transparent;
    text-align: center;
    width: 26px;
  }
}

.lk-custom-dropdown-menu {
  padding: 5px;
}
