.labkey-page-nav {
  background-color: $lk-page-nav-bg-color;
  height: $lk-page-nav-height;

  .nav > li {
    float: left;

    & > a {
      color: $lk-page-nav-color;
      font-family: $lk-page-nav-font-family;
      font-weight: $lk-page-nav-font-weight;
      padding: 8px 15px;

      &:hover, &:focus {
        color: $lk-page-nav-bg-color;
        background-color: $lk-primary-bg-color;
        text-decoration: none;
      }
    }

    &.open .fa-bars::before {
      content: "\F00D"; // fa-close
    }
  }

  .navbar-header {
    float: left;

    .navbar-toggle {
      color: $lk-page-nav-color;
      float: left;
      margin: 0;
    }
  }

  .lk-nav-tabs-ct {
    float: right;
    padding: 5px 0 0 15px;
    margin-right: 0;
  }

  .lk-nav-tabs {

    & > li {
      float: left;
      background-color: #73b6e0;
      margin: 0 3px;
      border-radius: 3px 3px 0 0;

      & > a {
        border-radius: 3px 3px 0 0;
        padding: 6px 15px;
      }
    }

    & > li.active > a {
      color: black;
      background-color: #F8F8F8;
    }
  }
}

.project-nav {
  & > ul {
    list-style: none;
  }
}