// TODO: Get rid of this file once we've removed purged the usages of the old webpart layout
/* This is the table that contains each web part in the portal view */
table.labkey-wp
{
  width: 100%;
  border-spacing: 0;
  border: 5px solid $lk-webpart-color;

  border-radius: 5px;
}

/* This is the body of the web part */
td.labkey-wp-body
{
  width: 100%;
  padding: 10px;
  background: #FFFFFF;

  &.labkey-wp-nopadding {
    padding: 0;
  }
}

/* This is used for the top strip on web parts, but is also used for headers elsewhere such as the
help pop up */
tr.labkey-wp-header
{
  background-color: $lk-webpart-color;
  border: 0;
}

.labkey-wp-header th.labkey-wp-title-left, .labkey-wp-header td.labkey-wp-title-left
{
  font-size: $lk-font-size-large;
  font-weight: bold;
  padding: 0 0 4px 4px;
  text-align: left;
  white-space: nowrap;
  color:#000000;
  border: 0;
}

/* This is used for the left side of the wp header and often contains the title */
td.labkey-wp-title-left, th.labkey-wp-title-left, .labkey-wp-title {
  border-right: 0 none;
  color: #000000;
  padding-left: 4px;
  padding-bottom: 4px;
}

th.labkey-wp-title-left a:link, th.labkey-wp-title-left a:visited {
  color: #000000;
  text-decoration: none;
}

th.labkey-wp-title-left a:hover {
  color: $lk-link-color;
  text-decoration: none;
}

/* This is used for the right side of the wp header and often contains buttons */
th.labkey-wp-title-right, td.labkey-wp-title-right {
  text-align:  right;
  border-left:  0 none;
  color: #000000;
  padding-bottom: 5px;
  white-space: nowrap;
}

th.labkey-wp-title-left img,
th.labkey-wp-title-right img {
  margin-bottom: -5px;
}

span.labkey-wp-icon-button-active {
  margin-left: 3px;
  font-size: 19px;
  vertical-align: text-bottom;
}

span.labkey-wp-icon-button-inactive {
  margin-left: 3px;
  font-size: 19px;
  vertical-align: text-bottom;

  &:hover {
    background: none;
    cursor: default;
  }
}
