.lk-search-form {
  margin-bottom: 10px;

  input {
    padding-right: 30px;
  }
}

.labkey-search-filter {
  font-size: 10pt;
  vertical-align: bottom;
  color: #000000;
  text-decoration: none;

  a, a:visited {
    font-size:10pt;
    vertical-align: bottom;
    color: $lk-border-title-color;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.fa.search-overlay {
  background-color: transparent;
  display: block;
  position: absolute;
  right: 0;
  top: 6px;
  font-size: 18px;
  margin: 0;
  width: 24px;
  border: 0;
  cursor: pointer;
}

.labkey-search-cite {
  color: #006621;
}

.labkey-search-results-counts {
  color: darkgray;
  height: 25px;
}

.labkey-search-result {
  margin-bottom: 26px;

  h4 {
    margin: 0;
  }

  .labkey-search-content {
    max-width: 600px;
  }
}

.search-advanced-toggle {
  cursor: pointer;
}