table.labkey-tab-strip
{
  width: 100%;
  border-spacing: 0;
  *border-collapse: collapse;
}

.labkey-tab-strip {
  border-top: 0;
  /* This applies to both ul and table? see ul a little further down */
}

/* This tab has no bottom border so it looks like it is forward */
td.labkey-tab-selected, .labkey-tab-selected {
  padding: 4px 7px;
  border: 1px solid $lk-tabstrip-border-color;
  border-bottom-color: #FFFFFF;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: bold;
  white-space: nowrap;
}

.labkey-tab-selected a {
  padding: 4px 7px;
  border-top: solid 1px $lk-tabstrip-border-color;
  border-bottom: solid 1px #FFFFFF;
  background-color: #FFFFFF;
  color: #000000;
  font-weight: bold;
  white-space: nowrap;
}

/* This tab has a bottom border so it looks like it is back */
td.labkey-tab, .labkey-tab {
  padding: 4px 7px;
  border: solid 1px $lk-tabstrip-border-color;
  background-color: #f4f4f4;
  color: $lk-link-color;
  text-decoration: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
}

.labkey-tab a {
  padding: 4px 7px;
  background-color: #f4f4f4;
  color: $lk-link-color;
  font-weight: bold;
  text-decoration: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
}

.labkey-tab a:hover {
  padding: 4px 7px;
  background-color: #f4f4f4;
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  vertical-align: bottom;
  white-space: nowrap;
  cursor: pointer;
}

/* This tab has a bottom border and its text is shaded so it looks like it is back and unselectable */
td.labkey-tab-inactive {
  padding: 4px 7px;
  border:solid 1px $lk-tabstrip-border-color;
  text-decoration: none;
  color: #444444;
  background-color: #f4f4f4;
}

.labkey-tab-content,
td.labkey-tab-content {
  padding: 4px 7px;
  border-left: solid 1px $lk-tabstrip-border-color;
  border-right: solid 1px $lk-tabstrip-border-color;
  border-bottom: solid 1px $lk-tabstrip-border-color;
  background-color:#FFFFFF;
  vertical-align:bottom;
}

.labkey-tab-selected a, .labkey-tab a
{
  outline: none;
}

/* This is used for breaks in between tabs */
.labkey-tab-space,
td.labkey-tab-space
{
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid $lk-tabstrip-border-color;
}

/* styles used for TabStripView tabs */
ul.labkey-tab-strip
{
  border-bottom : 1px solid $lk-tabstrip-border-color;
  margin : 0;
  padding-left : 10px;

  .tab-strip-clear {
    clear: both;
    height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
  }

  li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  a {
    border-top: 1px solid $lk-tabstrip-border-color;
    border-right: 1px solid $lk-tabstrip-border-color;
    border-left: 1px solid $lk-tabstrip-border-color;
    border-bottom: none;
    float: left;
    line-height: 1;
    text-decoration: none;

    border-radius: 5px 5px 0 0;
    margin-right: 2px;
    padding: 6px 9px;

    -moz-box-shadow: 0 -2px 2px #DDDDDD;
    -webkit-box-shadow: 0 -2px 2px #DDDDDD;
    box-shadow: 0 -2px 2px #DDDDDD;
  }
}

li.labkey-tab-active a {
  background-color: $lk-active-tab-bg-color;
  border-bottom: 1px solid $lk-active-tab-bg-color;
  margin-bottom: -1px;
  color: $lk-active-tab-color;
}

li.labkey-tab-inactive a {
  color: $lk-inactive-tab-color;
  background-color: $lk-inactive-tab-bg-color;
  opacity: 0.75;
}
li.labkey-tab-inactive a:hover {
  opacity: 1;
}

.labkey-tab-strip-spacer {
  height: 4px;
  background-color: $lk-active-tab-bg-color;
  border-left: 1px solid $lk-tabstrip-border-color;
  border-right: 1px solid $lk-tabstrip-border-color;
  border-bottom: 1px solid #FFFFFF;
  line-height:1;
}

.labkey-tab-strip-content {
  background: $lk-active-tab-body-bg-color;
  border: 1px solid $lk-tabstrip-border-color;
  border-top: none;
  clear: both;
  margin: 0;
  padding: 15px;
}