$!tools.pageFlowUtil.getStrutsError($request, "main")
<form action=submitBleed.post method=post>
<table>
<tr>
<td >
Mouse:
#if($mouse.entityId)
<b>$!mouse.mouseNo</b>
#else
<input type="text" name="mouseNo" value="$!mouse.mouseNo"/>
#end

<input type=hidden name=taskId value="$!taskId">
<input type=hidden name="mouseEntityId" value="$!mouse.entityId"/>
<input type=hidden name="finalBleed" value="$!form.finalBleed"/>
</td>
<td >Date <input name="collectionDateString" id="collectionDate" onChange="setDate()" value="$!collectionDate"/>
</tr>
<tr>
<td colspan=2><input type="radio" name="urineForm" value="0" #if($form.urineForm == false)checked#end >Bleed&nbsp;&nbsp;<input type="radio" #if($form.urineForm)checked#end name="urineForm" value="1">Urine</td>

</tr>
<tr>
<td colspan=2>
BleedType
<select name="bleedType">
<option #if($form.urineForm == false)selected#end ></option>
#foreach($bleedType in $bleedTypes)
<option #if($form.bleedType == $bleedType)selected#end >$bleedType</option>
#end
</select>
</td>
</tr>
<td colspan=2>
Sample Notes (stored with each sample)<br>
<textarea rows=4 cols=60 name=description>
</textarea></td>
</tr>
<tr>
<td>
Sample Numbering Style: <br>
&nbsp;&nbsp;<input id=numberStyleManual type=radio name=numberStyle checked value=0 onchange="updateAliquots()"><span id="prefix">Date</span>-<b>XXX</b>
&nbsp;&nbsp;<input id=numberStyleBarCode type=radio name=numberStyle value=1 onchange="updateAliquots()"> Bar Code
</td>
</tr>
<tr>
<td>
<br>First Sample Id: <input type=text id=sampleId value="$nextSampleId" onkeyup="updateAliquots()"/>&nbsp;&nbsp;
Aliquots: <input type=text size=3 value="3" id=aliquots onkeyup="updateAliquots()"/>
<script>
function setDate()
{
var elem = document.getElementById("collectionDate");
var d = new Date(elem.value);
var month = d.getMonth() + 1;
var year = d.getYear();
var day = d.getDate();
var monthStr = month < 10 ? "0" + month : "" + month;
var dayStr = day < 10 ? "0" + day : "" + day;
var yearStr = year < 10 ? "0" + year : "" + year;
var prefix = monthStr + dayStr + yearStr;

elem = document.getElementById("prefix");
elem.innerHTML = prefix;
}
setDate();
</script>

</td>
</tr>
</table>
<br>
<table>
<tr>
<tr><td>Sample Id</td><td>Freezer</td><td>Rack</td><td>Box</td><td>Cell</td>
#set($i = 0)
#foreach($sample in $samples)
<tr>
    <td><input type=text size=12 value="$!sample" id="samples_$i" name="samples[$i]" /></td>
    <td><input type=text size=8 value="" name="locations[$i].freezer" onfocus="guessDefault(this, 'freezer')" onblur="updateDefault(this, 'freezer')"/></td>
    <td><input type=text size=3 value="" name="locations[$i].rack" onfocus="guessDefault(this, 'rack')" onblur="updateDefault(this, 'rack')"/></td>
    <td><input type=text size=3 value="" name="locations[$i].box" onfocus="guessDefault(this, 'box')" onblur="updateDefault(this, 'box')"/></td>
    <td><input type=text size=3 value="" name="locations[$i].cell" onfocus="guessDefault(this, 'cell', true)" onblur="updateDefault(this, 'cell')"/></td>
</tr>
#set($i = $i + 1)
#end
</table>
<input type=image name=submit src='$tools.buttonSrc("Submit")'>
</form>
<script>
function updateAliquots()
{
    var inputSampleId = document.getElementById("sampleId");
    var inputAliquots = document.getElementById("aliquots");
    var radioNumberStyle = document.getElementById("numberStyleManual");
    if (!radioNumberStyle.checked)
    {
        var i;
        inputAliquots.disabled = true;
        inputSampleId.disabled = true;
    }
    else
    {
        inputAliquots.disabled = false;
        inputSampleId.disabled = false;
        
        var sampleId = parseInt(inputSampleId.value);
        if (isNaN(sampleId))
          {
          alert(inputSampleId.value + " is not a number");
          return
          }
        var aliquotCount = parseInt(inputAliquots.value);
        if (isNaN(aliquotCount))
            return;
        
        var i;
        for (i = 0; i < aliquotCount && i < 12; i++)
          {
          var inputSample = document.getElementById("samples_" + i);
          inputSample.value = sampleId + i;
          }
        for (; i < 12; i++)
          {
          var inputSample = document.getElementById("samples_" + i);
          inputSample.value = "";
          }
    }    
}

updateAliquots();

var defaults = {freezer:null, rack:null, cell:null, box:null, location:null}

function updateDefault(elem, name)
  {
  var val = elem.value;
  defaults[name] = val;
  }

function guessDefault(elem, name, increment)
  {
  if (elem.value != null && elem.value.length > 0)
    return;

  var val = defaults[name];
  if (val == null)
    return;

  if (increment)
  {
    val = parseInt(val);
    if (isNaN(val))
      return;
    val += 1;
  }

  window.status = val;
  elem.value = val;
  }

</script>