
$!tools.pageFlowUtil.getStrutsError($request, "main")
#if($form.inputMode)
#set($action = "submitBox.post")
#else
#set($action = "pullSamples.post")
#end

<form action=$action method=post onsubmit="return validateSamples()">
<table>
<tr>
<td class=ms-searchform>Freezer:</td><td class=normal> $!freezer.name <input type=hidden value="$!form.boxId" name=boxId></td>
<td align=right class=ms-searchform>
#if($form.inputMode)
Collection Date:</td><td class=normal>  <input name="collectionDateString" value="$!form.collectionDateString"/>
#end
<input type=hidden name=modelId value="$!form.modelId">
</td>
</tr>
<tr>
<td class=ms-searchform>Rack:</td><td class=normal>  $!form.rack</td>
<td class=ms-searchform>
Drawer:</td><td class=normal>  $!form.drawer
</td>
</tr>
<tr>
<td class=ms-searchform>
Shelf:</td><td class=normal>  $!form.shelf
</td>
<td class=ms-searchform>Box:</td><td class=normal>  $!form.boxName</td>
</tr>
#if($form.inputMode)
<tr>
<td colspan=2 class=ms-searchform>
Sample Numbering Style: </td><td colspan=2 class=normal>
&nbsp;&nbsp;<input id=numberStyleManual type=radio name=numberStyle checked value=0> Model-Date-<b>xxx</b> 
&nbsp;&nbsp;<input id=numberStyleBarCode type=radio name=numberStyle value=1> Bar Code
</td>
</tr>
#end
</table>
<table border=1 cellspacing=0>
#set($rowNum = 0)
#foreach($row in $form.rows)
<tr>
    #set($colNum = 0)
    #foreach($col in $row.cols)
    <td class=normal #if($col.requested) style="background-color:red" #end>
        #if($col.filled)
        
        #if(!$form.inputMode)<a href="javascript:selectSample($rowNum, $colNum, '$!col.name')">#end
        $tools.filter($col.name)
        #if(!$form.inputMode)</a>#end
        #else        
            #if($form.inputMode)
            <input type=text size=3 value="$!col.name" id="sample[$rowNum][$colNum]" name="rows[$rowNum].cols[$colNum].name" onfocus="guessSampleId()" onblur="updateSampleId()"/>
            #else
            &nbsp;
            #end
        #end
    </td>
    #set($colNum = $colNum + 1)
    #end
</tr>    
#set($rowNum = $rowNum + 1)
#end
</table>
#if(!$form.inputMode)
The samples below will be removed from the box. Click on any sample to include it in this list.
If the "Mark as Used" checkbox is checked the samples will be marked as unavailable.<br>
<input type=checkbox value=true name=markAsUsed #if($form.markAsUsed)checked#end /> Mark As Used
    <table><tr>
    #set($i = 0)
    #foreach($samp in $form.requestedSample)
        <td><input type=text value="$!samp" name=requestedSample[$i] id=requestedSample${i}></td>
    #set($i = $i + 1)
    #set($samp = "") ##INCREDIBLY LAME VELOCITY THING! IGNORES ASSIGMENT TO NULL INCLUDING IN FOREACH
    #end
    </tr></table>
    
#end
<input type=image name=submit src='$tools.buttonSrc("Submit")'>
<a href="begin.view?modelId=$!form.modelId"><img border=0 src='$tools.buttonSrc("Cancel")'></a>
</form>
<script>

function selectSample(row, col, name)
    {
    var i;
    for(i = 0; i < $tools.getLength($form.requestedSample); i++)
        {
        var elem = document.getElementById("requestedSample" + i);
        if (elem.value =="")
            {
            elem.value = name;
            return;
            }
        }
    
    alert("Can only pull " + i + " samples at a time");
    }
    
var nextSampleNum = #if($nextSampleId) $nextSampleId #else 800 #end ;
var nextAliquot = "";

function guessSampleId()
    {
    var elem = event.srcElement;
    var elemBarCode = document.getElementById("numberStyleBarCode");
    if (elemBarCode.checked)
        return;
        
    if (elem.value == null || elem.value == "")
        {
        elem.value = "" + nextSampleNum + nextAliquot;
        }
    }

function updateSampleId()
    {
    var elem = event.srcElement;
    if (elem.value != null && elem.value != "")
        {
        var val = parseInt(elem.value);
        if (val != Number.NaN)
            {
            if (elem.value.length == 4)
                {
                lastChar = elem.value.substr(3);
                if (lastChar >= "a" && lastChar <= "z")
                    nextAliquot = String.fromCharCode(lastChar.charCodeAt(0) + 1);
                nextSampleNum = val;
                }
            else
                {
                nextAliquot = "";
                nextSampleNum = val + 1;
                }
            }
        }
    window.status = "nextSampleNum: " + nextSampleNum + "  nextAliquot: " + nextAliquot;
    }

function validateSamples()
{
    var contents = new Object();
    var ok = true;
    for(var row =0; row < 10; row++)
        for(var col = 0; col < 10; col++)
        {
            var elem = document.getElementById("sample[" + row + "][" + col + "]");
            if (null == elem || null == elem.value || "" == elem.value)
                continue;
            
            var dupElem = contents[elem.value];
            if (dupElem != null)
            {
                alert("Duplicate value row " + (row + 1) + ", col " + (col + 1) + ": " + elem.value);
                ok = false;
            }
            else
            {
                contents[elem.value] = elem;
            }
                
        }
        
    return ok;
}

</script>