$!request.getParameter("message")
<form action=submitNecropsyPhotos.post method=post enctype="multipart/form-data"  >
<table>
<tr>
<td class=header>
Mouse
</td>
<td class=header>
File
</td>
</tr>
#foreach($i in [0..9])
<tr>
<td><input type=text name="mouseNo[$i]"></td><td><input type=file name="photo[$i]"></td>
</tr>
#end
</table><input type=hidden name=modelId value="$!modelId">
<input type=image src='$tools.buttonSrc("Submit Photos")'>
<a href="begin.view"><img border="0" src='$tools.buttonSrc("Cancel")'></a>
</form>