$!tools.pageFlowUtil.getStrutsError($request, "main")
<table>
<form action="$request.contextPath/MouseModel-Necropsy${container.path}/addTasks.post">
<input type=hidden name=modelId value="$!modelId">
<tr>
  <td>
Action 
  </td>
  <td>
  <select name=taskType><option value=1>Necropsy and Final Bleed</option><option value=2>Serial Bleed</option></select>
  </td>
</tr>
<tr>
  <td>
Cage 
  </td>
  <td>
  <input name=cageName> 
  </td>
<tr>
<td>
Collection Date 
</td>
<td>
<input name="collectionDateString" value="$!collectionDate"/><input type=image src='$tools.buttonSrc("Go")'>
</td>
</tr>
</form>
</table>
<b>Blank Forms:</b><br>
<a href="$request.contextPath/MouseModel-Necropsy${container.path}/showBleedForm.view?modelId=$!modelId">Bleed Form</a><br>
<a href="$request.contextPath/MouseModel-Necropsy${container.path}/showBleedForm.view?modelId=$!modelId&urineForm=1">Urine Form</a><br>
<a href="$request.contextPath/MouseModel-Necropsy${container.path}/showNecropsyForm.view?modelId=$!modelId">Necropsy Form</a><br>


