@import "@labkey/components-scss";

.assay-type-select-hdr {
  font-weight: bold;

  // revert panel styling changes in ui-components/panel.scss
  background-color: #116596 !important;
  padding: 10px 15px !important;
  margin: 0 !important;
}

.assay-type-select-panel {
  min-width: 1000px;
  margin-top: 10px;

  .panel-body {
    margin: 10px;
  }
}

