// Insert your custom variables here.
$base-color: #990000;
$panel-base-color: $base-color;

$text-color: #212121;
$link-color: #990000;
$grid-color: #FFECB0;
$primary-bg-color: #FFFCF8;
$secondary-bg-color: #FFFFFF;
$border-title-color: #CCCCCC;
$webpart-color: #EEEBE0;