// Insert your custom variables here.
$base-color: #0F4F0B;
$panel-base-color: $base-color;

$text-color: #212121;
$link-color: #0F4F0B;
$grid-color: #D4E4D3;
$primary-bg-color: #F4F4F4;
$secondary-bg-color: #FFFFFF;
$border-title-color: #386135;
$webpart-color: #E1E5E1;
