@import "../../../node_modules/react-bootstrap-toggle/dist/bootstrap2-toggle";

.bold-text {
  font-weight: bold;
}

.no-highlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.clickable {
  cursor:pointer;
}

.parent-panel {
  min-width: 1200px;
}

.parent-panel__cancel-button {
  margin-left: 10px;
}

.global-settings__title-text {
  margin-bottom: 16px;
}

.global-settings__text-row {
  margin-bottom: 14px;
}

.global-settings__text {
  margin-left: 14px;
}

.configurations__auth-tab-login-form{
  margin-top: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
}

.configurations__help-link {
  float: right;
}

.configurations__dropdown {
  margin-bottom: 17px;
  display: block;
}

.configurations__config-section-title {
  margin-bottom: 18px;
}

.row-container {
  padding-bottom: 20px;
}

.auth-row {
  border: 1px solid #CCC;
  margin: 0px;
  box-shadow: inset 0 1px 3px 2px #F3F3F4;
}

.auth-row__field {
  margin-top: 5px;
}

.globalAuthConfig-textInput{
  width: 15em;
}

.globalAuthConfig-leftMargin{
  margin-left: 29px;
}

.database-modal__field-row {
  height: 50px;
}

.database-modal__field {
  float: right;
}

.database-modal__bottom {
  border-top: 1px solid #eee;
  padding-top: 15px;
}

.sso-fields__label {
  width: 130px;
}

.sso-fields__file-attachment {
  width: 300px;
  margin-left: auto;
  margin-right: 0;
}

.sso-fields__image-holder {
  float: left;
  margin-left: 60px;
  display: flex;
}

.sso-fields__image {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width:100px;
  height:94px;
}

.sso-fields__null-image {
  margin-left: 7px;
}

.sso-fields__delete-img {
  align-self: flex-start;
  margin-left: 2px;
}

.sso-fields__image-holder--view-only {
  margin-left: 265px;
}

.sso-fields__null-image__text {
  font-size: smaller;
  color: #DCDCDC;
  margin-left: 5px;
}

.sso-fields__spacer {
  height: 12px;
}

.modal__test-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2px;
}

.modal__error-message {
  float: right;
  color: #d9534f;
  //margin-right: 55px;
}

.modal__field-label {
  height: 40px;
  margin-right: 7px;
}

.modal__field {
  height: 30px;
}

.modal__close-icon {
  float: right;
  margin-top: 5px;
}

.modal__enable-toggle {
  width: 90px;
  height: 28px;
  float: right;
}

.modal__description-title {
  height: 40px;
}

.modal__settings-text {
  margin-bottom: 17px;
}

.modal__text-input {
  height: 40px;
}

.modal__input {
  float: right;
  margin-right: 285px;
}

.modal__option-input {
  float: right;
  margin-right: 160px;
}

.modal__bottom {
  border-top: 1px solid #eee;
  padding-top: 11px;
  margin-top: 19px;
}

.modal__bottom-buttons {
  float: right;
}

.modal__help-link {
  margin-right: 10px;
}

.modal__save-button {
  margin-left: 10px;
}

.modal__top {
  border-bottom: 1px solid #eee;
  height: 40px;
  margin-bottom: 16px;
}

// oh, my god, the toggle
// grabbed from sampleManagement/resources/web/sampleManagement/gen/sampleManagement-styles.css
// but minor adjustments were needed...

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a.btn.disabled,
fieldset[disabled] a.btn {
  pointer-events: none;
}

.btn-default {
  color: #333;
  background-color: #fff;
  border-color: #ccc;
}

.btn-default:focus,
.btn-default.focus {
  color: #333;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open > .btn-default.dropdown-toggle {
  color: #333;
  background-color: #e6e6e6;
  background-image: none;
  border-color: #adadad;
}

.btn-default:active:hover,
.btn-default:active:focus,
.btn-default:active.focus,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .btn-default.dropdown-toggle:hover,
.open > .btn-default.dropdown-toggle:focus,
.open > .btn-default.dropdown-toggle.focus {
  color: #333;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default.disabled:hover,
.btn-default.disabled:focus,
.btn-default.disabled.focus,
.btn-default[disabled]:hover,
.btn-default[disabled]:focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default:hover,
fieldset[disabled] .btn-default:focus,
fieldset[disabled] .btn-default.focus {
  background-color: #fff;
  border-color: #ccc;
}

.btn-default .badge {
  color: #fff;
  background-color: #333;
}

.btn-primary {
  color: #fff;
  background-color: #2980b9;
  border-color: #2472a4;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #fff;
  background-color: #20638f;
  border-color: #0d293c;
}

.btn-primary:hover {
  color: #fff;
  background-color: #20638f;
  border-color: #194f72;
}

.btn-primary:active,
.btn-primary.active,
.open > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #20638f;
  background-image: none;
  border-color: #194f72;
}

.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus,
.open > .btn-primary.dropdown-toggle:hover,
.open > .btn-primary.dropdown-toggle:focus,
.open > .btn-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #194f72;
  border-color: #0d293c;
}

.btn-primary.disabled:hover,
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled]:hover,
.btn-primary[disabled]:focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary:hover,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
  background-color: #2980b9;
  border-color: #2472a4;
}

.btn-primary .badge {
  color: #2980b9;
  background-color: #fff;
}
