@import "@labkey/components-scss";
@import './restoreBootstrapInCore.scss';

.bold-text {
  font-weight: bold;
}

// revert panel styling changes in ui-components/panel.scss
.panel-heading {
  font-size: 16px !important;
  background-color: #f5f5f5 !important;
  border-bottom: 1px solid #ddd !important;
  margin: 0 !important;
  padding: 10px 15px !important;
}

.parent-panel {
  min-width: 1200px;
  padding-bottom: 40px;
}

.parent-panel__save-button {
  text-transform: none;
}

.global-settings__text-row {
  margin-bottom: 14px;
}

.global-settings__text {
  margin-left: 14px;
}

.configurations__auth-tab{
  margin-top: 14px;
  border-bottom: 1px solid #eee;
  margin-bottom: 16px;
}

.configurations__help-link {
  float: right;
}

.configurations__dropdown {
  margin-bottom: 17px;
  display: block;
}

.configurations__config-section-title {
  margin-bottom: 18px;
}

.deleteIcon {
  color: #999999;
  &:hover {
    color: #d9534f;
  }
}

.editOrViewIcon {
  color: #999999;
  &:hover {
    color: #0176AC;
  }
}

.domain-row-base-fields {
  padding-top: 15px;
}

.globalAuthConfig-textInput{
  width: 15em;
}

.globalAuthConfig-leftMargin{
  margin-left: 29px;
}

.database-modal__field-row {
  height: 50px;
}

.database-modal__field {
  float: right;
}

.sso-fields__label {
  width: 130px;
}

.sso-fields__file-attachment {
  width: 300px;
  margin-left: auto;
  margin-right: 0;
}

.sso-fields__image-holder {
  float: left;
  width: 255px;
  height: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.sso-field__image-border {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}

.sso-fields__image {
  border: 1px solid #ddd;
  border-radius: 4px;
  max-width: 100%;
  padding: 5px;
  width: auto;
}

.sso-fields__image__header-logo {
  max-height: 26px;
}

.sso-fields__image__page-logo {
  max-height: 44px;
}

.sso-fields__null-image {
  margin-left: 7px;
}

.sso-fields__delete-img {
  color: #d9534f;
  position: absolute;
  top: 0;
  right: 0;
}

.sso-fields__image-holder {
  position: relative;
}

.sso-fields__image-holder--view-only {
  margin-left: 265px;
}

.sso-fields__null-image__text {
  font-size: smaller;
  color: #DCDCDC;
  margin-left: 5px;
}

.fa-cloud-upload:before {
  content: "\f0ee";
}

.global-settings__default-domain-form {
  border-radius: 5px;
  width: 200px;
}

.global-settings__default-domain-form1 {
  border-radius: 5px;
  width: 300px;
  float: left;
}

.global-settings__default-domain {
  display: flex;
  align-items: center;
}

.global-settings__default-domain-field {
  margin-left: 30px;
}

.configurations__dropdown .dropdown .dropdown-menu .disabled::after {
  content: "Only one configuration of this type is allowed";
  display: none;
  position: absolute;
  top: -0px;
  right: -30px;
  width: 150px;
  text-align: center;
  background-color: #575858;
  border: 1px solid #888888;
  color: #eeeeee;
  border-radius: 2px;
  font-size: 0.8em;
}
.configurations__dropdown .dropdown .dropdown-menu .disabled:hover::after {
  display: inline;
}
