.domain-field-row {
  border: 1px solid;
  border-radius: 2px;
  margin: 0 0 20px 0;
  background-color: white;
  outline: none;
}

.domain-row-border-default {
  border-color: #CCC;
  box-shadow: inset 0 1px 3px 2px #F3F3F4;
}

.domain-row-handle {
  padding-left: 8px;
  border-width: 0 1px 0 0;
  border-style: solid;
  border-color: #CCC;
  display: table-cell;
  width: 30px;
  vertical-align: middle;
  background-color: #F3F3F4;
}

.domain-row-main {
  height: 50px;
}

.domain-row-container {
  display: table;
  width: 100%;
}

.domain-field-row .row {
  margin-right: 0;
  margin-left: 0;
}

.domain-row-base-fields {
  padding: 0;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.auth-tab{
  margin-top: 14px;
}

.left-margin{
  margin-left: 10px;
}

.bottom-margin{
  margin-bottom: 14px;
}

.globalAuthConfig-textInput{
  width: 15em;
}

.globalAuthConfig-leftMargin{
  margin-left: 29px;
}
