$labkey-fonts-dir: '../../fonts';

@font-face {
  font-family: 'Roboto'; /* regular */
  src: url('#{$labkey-fonts-dir}/Roboto/Roboto-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto'; /* bold */
  src: url('#{$labkey-fonts-dir}/Roboto/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}