//$labkey-fonts-dir: '../../webapp/fonts';
$labkey-fonts-dir: '../../fonts';

@font-face {
  font-family: 'Roboto';
  src: url('#{$labkey-fonts-dir}/Roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('#{$labkey-fonts-dir}/Roboto/Roboto-Bold.ttf');
}

/* TODO: Can we get rid of these? They do nothing except rename "Name" to "Name-Bold" */
@font-face {
  font-family: 'Arial-Bold';
  src: local('Arial');
}

@font-face {
  font-family: 'Helvetica-Bold';
  src: local('Helvetica');
}