.lk-sg-example {
  border: 1px solid #ddd;
  border-radius: 4px 4px 0 0;
  box-shadow: none;

  .table {
    td {
      padding: 15px 0;
      border-color: #eee;
    }

    tr:first-child td {
      border-top: 0;
    }
  }
}

.lk-sg-example-typography {
  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

.lk-sg-example-ext3 {
  padding: 20px;

  .extContainer {
    margin-bottom: 10px;
  }
}