.gwt-ToolTip {
  background-color: #FFDF8C;
  font-size: 8pt;
  padding: 2px 4px;
  border: solid 1px #AAAAAA;
}

.dialogMiddleCenter {
  padding: 5px;
}

.gwt-DialogBox {
  border: 8px solid #89A1B4;
  background-color: #FFFFFF;

  .Caption {
    background-color: $lk-grid-color;
    border: 1px solid #89A1B4;
    padding: 3px;
    font-weight: bold;
    cursor: default;
  }
}

.editor-property-dock {
  .x-tab-panel-body.x-tab-panel-body-top {
    background-color: #eeeeee;
    padding: 10px;
  }
}

.gwt-HorizontalSplitter .Bar {
  width: 8px;
  background-color: #89A1B4;
}

.gwt-VerticalSplitter .Bar {
  height: 8px;
  background-color: #89A1B4;
}

.gwt-MenuBar {
  background-color: $lk-grid-color;
  border: 1px solid #89A1B4;
  cursor: default;

  .gwt-MenuItem {
    padding: 1px 4px;
    font-size: 8pt;
    cursor: default;
  }

  .gwt-MenuItem-selected {
    background-color: #89A1B4;
  }
}

.gwt-ProgressBar-shell {
  border: 2px solid #faf9f7;
  border-right: 2px solid #848280;
  border-bottom: 2px solid #848280;
  background-color: #AAAAAA;
  height: 14pt;
  width: 300px;

  .gwt-ProgressBar-bar {
    background-color: #67A7E3;
  }

  .gwt-ProgressBar-text {
    padding: 0;
    margin: 0;
    color: #FFFFFF;
  }
}

.gwt-PushButton {
  cursor: pointer;
}

.gwt-FontImage {
  font-size: 18px;
}

.gwt-PushButton-up-disabled
{
  cursor: default;
  filter:alpha(opacity=50);
  opacity: 0.5;
}

.gwt-Tree .gwt-TreeItem {
  font-size: 8pt;
}

.gwt-Tree .gwt-TreeItem-selected {
  font-weight:bold;
}

.gwt-StackPanel .gwt-StackPanelItem {
  background-color: $lk-grid-color;
  cursor: pointer;
}

.gwt-ButtonBar {
  padding: 4px 0;
  border-collapse: separate;
  border-spacing: 2px;
}

.gwt-TabPanelBottom {
  border: 1px solid #b4b4b4;
}

.gwt-TabBar {
  font-weight: bold;

  .gwt-TabBarFirst {
    padding-left: 3px;
  }

  .gwt-TabBarRest {
    padding-right: 3px;
  }

  .gwt-TabBarItem {
    border-top: 1px solid #b4b4b4;
    border-left: 1px solid #b4b4b4;
    border-right: 1px solid #b4b4b4;
    margin-right: 6px;
    padding: 4px 7px;
    cursor: pointer;
    background-color: #f4f4f4;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .gwt-TabBarItem-selected {
    padding: 4px 7px;
    margin-right: 6px;
    cursor: default;
    background: transparent;
    opacity: 1;

    div {
      font-weight: bold;
    }
  }
}

.gwt-label label, .gwt-RadioButton label {
  font-weight: normal;
}

.selected-field-row {
  background-color: #EEEEEE;
}

// 31318: This "Ext 3" class is applied by GWT components only
.x-modal {
  display: none !important;
}