//
// LabKey Variables
// --------------------------------------------------

//== Paths
//
$api-webapp-dir: '../..';
$internal-webapp-dir: '../..';
$api-images-dir: '#{$api-webapp-dir}/_images';
$internal-images-dir: '#{$internal-webapp-dir}/_images';

//== Colors
//
// # Imported "labkey-theme" colors
$gray-base:              #000 !default;
$gray-darker:            lighten($gray-base, 13.5%) !default; // #222
$gray-dark:              lighten($gray-base, 20%) !default;   // #333
$gray:                   lighten($gray-base, 33.5%) !default; // #555
$gray-light:             lighten($gray-base, 46.7%) !default; // #777
$gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$white: #FFFFFF;

// TODO: Migrate all of these away from !default and remove usages of these from anywhere outside of this file
$lk-brand-color: #116596 !default;
$lk-secondary-brand-color: #3495D2 !default;
$lk-theme-dark-accent: $lk-brand-color !default;
$lk-theme-light-accent: $lk-secondary-brand-color !default;
$lk-accent-color: #E86030 !default;
$lk-success-color: #5CB85C !default;
$lk-info-color: #5BC0DE !default;
$lk-warning-color: #F0AD4E !default;
$lk-danger-color: #B82025 !default;

$lk-panel-base-color: #DFE8F6 !default;
$lk-text-color: $gray-base !default;
$lk-grid-color: #E7EFF4 !default;
$lk-primary-bg-color: #F8F8F8 !default;
$lk-border-title-color: #676767 !default;
$lk-webpart-color: #E0E6EA !default;

$lk-gray-blue: #dadfe1 !default;

//== Fonts
//
$lk-font-size-base: 14px !default;
$lk-font-size-large: 16px !default;
$lk-font-size-small: 12px !default;

$lk-font-size-h1: floor(($lk-font-size-base * 2.6)) !default; // ~36px
$lk-font-size-h2: floor(($lk-font-size-base * 2.15)) !default; // ~30px
$lk-font-size-h3: ceil(($lk-font-size-base * 1.7)) !default; // ~24px
$lk-font-size-h4: ceil(($lk-font-size-base * 1.25)) !default; // ~18px
$lk-font-size-h5: $lk-font-size-base !default;
$lk-font-size-h6: ceil(($lk-font-size-base * 0.85)) !default; // ~12px

$lk-body-font-family: "Roboto", Arial, Helvetica, sans-serif !default;
$lk-heading-font-family: "Titillium Web", Arial, Helvetica, sans-serif !default;
$lk-font-family-code: "Bitstream Vera Sans Mono", "Courier New", monospace;
//$lk-font-family-code: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

$lk-line-height-base: 1.428571429 !default; // 20/14

//== Forms / States
//
$lk-form-label-color: $gray-base !default;
$lk-form-label-bg-color: $lk-webpart-color !default;

$lk-state-success-text: #3c763d !default;
$lk-state-success-bg: #dff0d8 !default;
$lk-state-success-border: darken(adjust-hue($lk-state-success-bg, -10), 5%) !default;

$lk-state-info-text: #31708f !default;
$lk-state-info-bg: #d9edf7 !default;
$lk-state-info-border: darken(adjust-hue($lk-state-info-bg, -10), 7%) !default;

$lk-state-warning-text: #494949 !default;
$lk-state-warning-bg: $lk-gray-blue !default;
$lk-state-warning-border: darken(adjust-hue($lk-state-warning-bg, -10), 5%) !default;

$lk-state-danger-text: #a94442 !default;
$lk-state-danger-bg: #f2dede !default;
$lk-state-danger-border: darken(adjust-hue($lk-state-danger-bg, -10), 5%) !default;

//== Media query breakpoints
//
$lk-screen-xs-min: 480px !default;
$lk-screen-sm-min: 768px !default;
$lk-screen-md-min: 992px !default;
$lk-screen-lg-min: 1200px !default;

//== Padding
//
$lk-padding-base-vertical: 4px !default;
$lk-padding-base-horizontal: 8px !default;

$lk-padding-large-vertical: 10px !default;
$lk-padding-large-horizontal: 16px !default;

$lk-padding-small-vertical: 5px !default;
$lk-padding-small-horizontal: 10px !default;

$lk-padding-xs-vertical: 1px !default;
$lk-padding-xs-horizontal: 5px !default;

//== Body
//
$lk-body-bg-color: $lk-primary-bg-color !default; //theme variable
$lk-brand-primary: $lk-brand-color !default; //theme variable

//== Borders
//
$lk-border-radius-base: 2px !default;
$lk-border-radius-large: 3px !default;
$lk-border-radius-small: 1px !default;

//== Breadcrumbs
//
$lk-breadcrumb-separator: "/" !default;

//== Buttons
//
$lk-button-bg-color: $white !default;
$lk-button-bg-color-hover: #f0f0f0 !default;
$lk-button-bg-color-start: $lk-button-bg-color !default;
$lk-button-bg-color-end: $lk-button-bg-color-hover !default;
$lk-button-border-color-base: #95989A;
$lk-button-border-color: $lk-button-border-color-base $lk-button-border-color-base #5B5B5B $lk-button-border-color-base !default;
$lk-button-border-color-hover: #5B5B5B !default;
$lk-button-border-radius: 1px !default;
$lk-button-border-size: 1px !default;
$lk-button-color: #5B5B5B !default;
$lk-button-color-hover: $lk-button-color !default;
$lk-button-font-family: $lk-body-font-family !default;
$lk-button-font-size: $lk-font-size-small !default;
$lk-button-font-weight: bold !default;
$lk-button-letter-spacing: 0.5px !default;
$lk-button-padding: $lk-padding-base-vertical $lk-padding-base-horizontal !default;
$lk-button-text-transform: capitalize !default;

$lk-button-primary-bg-color: $lk-accent-color !default;
$lk-button-primary-bg-color-hover: $lk-button-bg-color-hover !default;
$lk-button-primary-bg-color-start: $lk-button-bg-color-start !default;
$lk-button-primary-bg-color-end: $lk-button-bg-color-end !default;
$lk-button-primary-color: darken($lk-button-primary-bg-color, 5%) !default;
$lk-button-primary-color-hover: $lk-button-primary-color !default;

$lk-button-primary-border-size: $lk-button-border-size !default;
$lk-button-primary-border-color: $lk-button-primary-color !default;
$lk-button-primary-border-color-hover: ($lk-brand-color, 5%) !default;

$lk-button-disabled-color: #AAAAAA !default;
$lk-button-disabled-cursor: not-allowed !default;
$lk-button-disabled-opacity: 0.65 !default;

$lk-bar-button-bg-color: transparent !default;
$lk-bar-button-bg-color-hover: transparent !default;

$lk-bar-button-color: $lk-brand-color !default;
$lk-bar-button-color-hover: $gray-base !default;

$lk-bar-button-border-color: transparent !default;
$lk-bar-button-border: $lk-button-border-size solid $lk-bar-button-border-color !default;
$lk-bar-button-border-color-hover: lightgray !default;
$lk-bar-button-border-hover: $lk-button-border-size solid $lk-bar-button-border-color-hover !default;
$lk-bar-button-font-family: inherit !default;
//== Dialogs / Modals
//
$lk-dialog-body-bg-color: $white !default;

//== Dropdowns
//
$lk-dropdown-bg-color: $white !default;
$lk-dropdown-border-color: rgba(0,0,0,.15) !default;
$lk-dropdown-font-size: $lk-font-size-base !default;
$lk-dropdown-link-color: $gray-dark !default;
$lk-dropdown-link-hover-color: $white !default;
$lk-dropdown-link-hover-bg: $lk-secondary-brand-color !default;
$lk-dropdown-link-padding: 3px 28px !default;
$lk-dropdown-submenu-icon-color: lightgray !default;
$lk-dropdown-submenu-icon-size: 11px !default;

//== File Upload Bar
//
$lk-dark-content-bar-color: #F0F0F0 !default;

//== Forms
//
$lk-form-contextContent-size: 0.9em;
$lk-form-context-icon-padding: 0 4px 0 8px;
$lk-form-group-margin-bottom: 5px !default;
$lk-form-control-border-radius: 0;
$lk-form-control-border-width: 2px;
$lk-form-control-text-align: right !default;
$lk-form-control-label-break: normal !default;
$lk-form-group-error-color: #B82025 !default;
$lk-form-group-warning-color: #F0AD4E !default;
$lk-form-group-success-color: #5CB85C !default;
$lk-input-group-display: block;
$lk-input-group-position: relative;
$lk-input-group-border-collapse: separate;
$lk-input-group-unstyled-border-radius: 4px;
$lk-input-group-unstyled-border: 0;
$lk-input-group-unstyled-bg-color: transparent;
$lk-input-group-addon-padding-right-left: 4px;

//== Grids
//
$lk-grid-bg-color: $white !default;
$lk-grid-border-color: lightgray !default;
$lk-grid-font-family: inherit !default;

$lk-grid-inner-border-color: $lk-grid-border-color !default;
$lk-grid-inner-border-width: 1px !default;
$lk-grid-outer-border-color: $lk-grid-border-color !default;
$lk-grid-outer-border-width: 1px !default;

$lk-grid-bar-bg-color: $white !default;
$lk-grid-header-bar-bg-color: $lk-grid-bar-bg-color !default;
$lk-grid-header-bar-bg-color-portal: #F2F2F2 !default;

$lk-grid-ct-bg-color: $lk-grid-bar-bg-color !default;
$lk-grid-msgbox-bg-color: #F4F4F4 !default;

$lk-grid-row-bg-color: $white !default;
$lk-grid-row-alt-bg-color: #F4F4F4 !default;
$lk-grid-row-color-hover: #e2e2e2 !default;
$lk-grid-row-select-color: #FFFFCC !default;
$lk-grid-row-select-color-hover: $white !default;
$lk-grid-row-select-text-color: $lk-text-color !default;
$lk-grid-row-select-link-color: $lk-text-color !default;

$lk-grid-filter-border-color: $lk-accent-color !default;
$lk-grid-filter-icon-color: $lk-grid-filter-border-color;

$lk-grid-sort-icon-color: lightgray !default;

//== Grid system (bootstrap grid system)
//
// gets divided in half for left and right
$lk-grid-gutter-width: 30px !default;

//== Header
//
$lk-page-header-bg-color: $white !default;
$lk-page-header-text-color: $lk-brand-color !default;
$lk-page-header-icon-color: $lk-brand-color !default;
$lk-page-header-font-hover-color: $lk-brand-color !default;
$lk-page-header-icon-hover-color: $lk-gray-blue !default;
$lk-page-header-icon-size: 20px !default; //TODO: investigate
$lk-page-header-padding: 12px 0 !default; //TODO: investigate
$lk-page-header-navbar-nav-padding: 5px 8px !default; //TODO: investigate

//== Headings
//
$lk-headings-font-family: $lk-heading-font-family !default;

//== Inputs
//
$lk-input-bg-color: $white !default;
$lk-input-border-color: rgb(169, 169, 169) !default;
$lk-input-border-style: solid !default;
$lk-input-border-width: 1px !default;
$lk-input-color: $lk-text-color !default;

//== Links
//
$lk-link-color: $lk-brand-color !default;
$lk-link-color-hover: darken($lk-link-color, 40%) !default;
$lk-link-hover-decoration: none !default;
$lk-text-link-color: $lk-brand-color !default;
$lk-text-link-color-hover: $gray-base !default;

//== Navigation
//
//The following 4 themes are for the project navigation dropdown header
$lk-page-nav-bg-color: $lk-brand-color !default; // consider making lk-subheader-color
$lk-page-nav-text-color: $white !default;
$lk-page-nav-active-bg-color: $white !default; // consider making lk-subheader-color
$lk-page-nav-active-text-color: $lk-brand-color !default;

//The following 4 themes are for the body of the project navigation dropdown header
$lk-page-nav-dropdown-item-bg-color: $white !default;
$lk-page-nav-dropdown-item-text-color: $lk-brand-color !default;
$lk-page-nav-dropdown-highlight-item-bg-color: $lk-brand-color !default;
$lk-page-nav-dropdown-highlight-item-text-color: $white !default;

$lk-page-nav-dropdown-icon-color: $lk-brand-color !default;

//The following 4 themes are for the navigation tabs
// TODO: This should try to declare a shared color tone or use an adjusted brand color
$lk-page-nav-secondary-tab-bg-color: #73b6e0 !default;
$lk-page-nav-secondary-tab-text-color: $white !default;
$lk-page-nav-primary-tab-bg-color: $lk-primary-bg-color !default;
$lk-page-nav-primary-tab-text-color: $lk-brand-color !default;

$lk-page-nav-font-weight: bold !default;
$lk-page-nav-height: 36px !default;

//== Notifications
//
$lk-notification-bg-color: $white !default;

//== Pills
//
$lk-nav-pills-active-link-hover-bg: $lk-theme-dark-accent !default;

//== Panels
//
$lk-panel-bg-color: $white !default;
$lk-panel-body-padding: 15px !default;
$lk-panel-heading-padding: 10px 15px !default;
$lk-panel-footer-padding: $lk-panel-heading-padding !default;

$lk-panel-title-font-weight: bold !default;
$lk-panel-title-text-transform: inherit !default;

$lk-panel-default-text: $gray-dark !default;
$lk-panel-default-border: #DDDDDD !default;
$lk-panel-default-heading-bg: #f5f5f5 !default;

$lk-panel-primary-text: $white !default;
$lk-panel-primary-border: $lk-brand-color !default; // may be deprecated
$lk-panel-primary-heading-bg: $lk-brand-color !default; // may be deprecated

$lk-panel-success-text: $lk-state-success-text !default;
$lk-panel-success-border: $lk-state-success-border !default;
$lk-panel-success-heading-bg: $lk-state-success-bg !default;

$lk-panel-info-text: $lk-state-info-text !default;
$lk-panel-info-border: $lk-state-info-border !default;
$lk-panel-info-heading-bg: $lk-state-info-bg !default;

$lk-panel-warning-text: $lk-state-warning-text !default;
$lk-panel-warning-border: $lk-state-warning-border !default;
$lk-panel-warning-heading-bg: $lk-state-warning-bg !default;

$lk-panel-danger-text: $lk-state-danger-text !default;
$lk-panel-danger-border: $lk-state-danger-border !default;
$lk-panel-danger-heading-bg: $lk-state-danger-bg !default;

//== Portals
//
$lk-webpart-accent-color: $lk-secondary-brand-color !default;
$lk-webpart-border-top: 3px solid $lk-webpart-accent-color !default;
$lk-webpart-title-color: $lk-panel-default-text !default;
$lk-webpart-title-hover-color: $lk-brand-color !default;

// These are used for nested webpart/portal frames
$lk-webpart-nested-border-top: 0 !default;
$lk-webpart-nested-title-color: $white !default;
$lk-webpart-nested-title-color-hover: $lk-webpart-nested-title-color !default;

$lk-portal-content-left-flex: 8 !default;
$lk-portal-content-right-flex: 4 !default;
$lk-portal-content-right-min-width: 240px !default;
$lk-portal-gutter-width: floor(($lk-grid-gutter-width / 2));
$lk-portal-panel-border-top: 3px solid $lk-webpart-accent-color;

//== Tables
//
$lk-table-cell-padding: 5px !default;
$lk-table-condensed-cell-padding: 3px !default;

//== Tabs (Bootstrap tabs (Export data set dropdown))
//
$lk-nav-tab-primary-bg-color: #F8F8F8 !default;
$lk-nav-tab-primary-text-color: #555555 !default;
$lk-nav-tab-secondary-bg-color: transparent !default;
$lk-nav-tab-secondary-text-color: $lk-brand-color !default;

$lk-nav-tab-secondary-hover-bg-color: #EEEEEE !default;
$lk-nav-tab-secondary-hover-text-color: $gray-base !default;
$lk-nav-tab-border-color: #DDDDDD;

//== TabStrips
//
$lk-active-tab-color: $gray-base !default;
$lk-active-tab-bg-color: $white !default;
$lk-active-tab-body-bg-color: $lk-active-tab-bg-color !default;
$lk-inactive-tab-color: $gray-base !default;
$lk-inactive-tab-bg-color: #f4f4f4 !default;
$lk-tabstrip-border-color: #b4b4b4 !default;

//== Tool Icons
//
$lk-tool-icon-color: rgb(18, 100, 149) !default;

//== Tooltips
//
$lk-tooltip-bg-color: $gray-base !default;
$lk-tooltip-text-color: $white !default;
$lk-tooltip-opacity: 0.8 !default;

//== Wells
//
$lk-well-bg-color: $white !default;
$lk-well-border-color: darken($lk-well-bg-color, 15%) !default;

//== Modals
$lk-modal-title-padding: 15px !default;
$lk-modal-header-border-color: $lk-panel-default-border !default;
$lk-modal-content-bg: $lk-panel-bg-color !default;

//== Ext4
//== Ext4 - Buttons
//
$lk-x4-button-default-base-color-disabled: $lk-brand-color !default;
$lk-x4-btn-group-inner-border-base-color: $lk-brand-color !default;

//== Ext4 - Forms
//
$lk-x4-form-field-focus-border-base-color: $lk-brand-color !default;

//== Ext4- Grids
//
$lk-x4-grid-row-cell-selected-border-base-color: $lk-brand-color !default;

//== Ext4 - Layout
//
$lk-x4-accordion-header-background-color: $lk-webpart-color !default;
$lk-x4-border-layout-ct-background-base-color: $lk-brand-color !default;

//== Ext4 - Panel
//
$lk-x4-panel-header-background-color: $lk-theme-dark-accent !default;
$lk-x4-panel-header-background-gradient-base-color: $lk-brand-color !default;
$lk-x4-panel-header-inner-border-base-color: $lk-brand-color !default;
$lk-x4-panel-frame-base-color: $lk-brand-color !default;

//== Ext4 - Toolbars
//
$lk-x4-toolbar-separator-base-color: $lk-brand-color !default;

//== Ext4 - Windows
//
$lk-x4-window-background-color: $lk-brand-color !default;
$lk-x4-window-base-color: $lk-brand-color !default;