<head>
<script type="text/javascript">
LABKEY.requiresExt4ClientAPI();
LABKEY.requiresScript("/extWidgets/ExcelUploadPanel.js");
</script>
<script type="text/javascript">
Ext4.onReady(function(){
    Ext4.create('Ext.tab.Panel', {
        activeTab: 0,
        defaults: {
            style: 'padding: 10px;'
        },
        items: [{
            title: 'Import Single',
            xtype: 'labkey-formpanel',
            schemaName: LABKEY.ActionURL.getParameter('schemaName'),
            queryName: LABKEY.ActionURL.getParameter('query.queryName') || LABKEY.ActionURL.getParameter('queryName'),
            viewName: LABKEY.ActionURL.getParameter('query.viewName') || LABKEY.ActionURL.getParameter('viewName')
        },{
            title: 'Import Bulk',
            xtype: 'labkey-exceluploadpanel',
            schemaName: LABKEY.ActionURL.getParameter('schemaName'),
            queryName: LABKEY.ActionURL.getParameter('query.queryName') || LABKEY.ActionURL.getParameter('queryName'),
            viewName: LABKEY.ActionURL.getParameter('query.viewName') || LABKEY.ActionURL.getParameter('viewName')
        }]
    }).render('importDiv');

});

</script>
</head>
<div id="importDiv"></div>
