<head>
<script type="text/javascript">

    LABKEY.requiresExt4ClientAPI();
    LABKEY.requiresScript('/extWidgets/ImportWizard.js')

</script>
<script type="text/javascript">
Ext4.onReady(function(){

    var params = {};
    var paramNames = LABKEY.ActionURL.getParameter('paramNames');
    if(paramNames){
        paramNames = paramNames.split(',');
        Ext4.each(paramNames, function(p){
            params[p] = LABKEY.ActionURL.getParameter(p);
        })
    };

    Ext4.create('LABKEY.ext.ImportWizard', {
        action: LABKEY.ActionURL.getParameter('action'),
        urlParams: params,
        controller: LABKEY.ActionURL.getParameter('controller')
    }).render('importwizardDiv');

});

</script>
</head>
<div id="importwizardDiv"></div>
