<style type="text/css">

    .qwp-demo .tab > a {
        margin: 10px;
    }

    .tab {
        padding: 5px;
        border: 1px solid #c0c0c0;
        border-top-width: 0;
    }

    .tab-first {
        border-top: 1px solid #c0c0c0;
    }

    .active-tab {
        background-color: #e0e6ea;
    }
</style>
<table class="qwp-demo">
    <tr>
        <td valign="top">
            <div class="tab tab-first"><a href="#testSchemaOnly">List out all queries in schema</a></div>
            <div class="tab"><a href="#testQueryOnly">Show default view for query</a></div>
            <div class="tab"><a href="#testFilterArray">Filter by Tag equals blue</a></div>
            <div class="tab"><a href="#testSort">Sort by Tag</a></div>
            <div class="tab"><a href="#testHideButtons">Hide buttons</a></div>
            <div class="tab"><a href="#testHideColumns">Hide Edit and Details columns</a></div>
            <div class="tab"><a href="#testPagingConfig">Set Paging to 3 with config</a></div>
            <div class="tab"><a href="#testSetPaging">Set Paging to 2 with API</a></div>
            <div class="tab"><a href="#testParameterizedQueries">Parameterized Queries</a></div>
            <div class="tab"><a href="#test25337">Regression #25337</a></div>
            <div class="tab"><a href="#testPageOffset">Change Page Offset</a></div>
            <div class="tab"><a href="#testRemovableFilters">Keep Removable Filters</a></div>
            <div class="tab"><a href="#testHidePagingCount">Hide Paging Count</a></div>
            <div class="tab"><a href="#testShowAllTotalRows">Show All Rows</a></div>
        </td>
        <td valign="top">
            <div id="qwpDiv"></div>
        </td>
    </tr>
</table>
<script type="text/javascript">
    +function($) {
        $(function() {
            function showPopulateButton(isShow) {
                var btn = $('#populatedata');
                isShow ? btn.show() : btn.hide();
            }

            LABKEY.Domain.get(function() {
                LABKEY.Domain.get(function() {
                    LABKEY.Domain.get(function() {

                    }, function() {
                        showPopulateButton(true);
                    }, 'Samples', 'sampleDataTest3');
                }, function() {
                    showPopulateButton(true);
                }, 'Samples', 'sampleDataTest2');
            }, function() {
                showPopulateButton(true);
            }, 'Samples', 'sampleDataTest1');
        });
    }(jQuery);
</script>
<br><br>
<div id="populatedata" style="display:none; color:red;">
    <b>Test data is not populated!</b><br>
    <button class="btn btn-primary" onclick="setUpDomains()">Populate test data</button><br>
</div>
<br>
<button class="btn btn-default" onclick="dropDomains()">Drop schema and clear test data</button>
