<script type="text/javascript">

Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;
    if(!LABKEY.ActionURL.getParameter('schemaName') ||
        (!LABKEY.ActionURL.getParameter('queryName') && !LABKEY.ActionURL.getParameter('query.queryName')) ||
        !LABKEY.ActionURL.getParameter('keyField') ||
        !LABKEY.ActionURL.getParameter('key')
    ){
        alert('Missing one or more required params');
        return;
    }

    var queryName = LABKEY.ActionURL.getParameter('queryName') || LABKEY.ActionURL.getParameter('query.queryName');
    Ext4.create('LABKEY.ext.DetailsPanel', {
        showTitle: false,
        border: false,
        renderTo: webpart.wrapperDivId,
        store: {
            schemaName: LABKEY.ActionURL.getParameter('schemaName'),
            queryName: queryName,
            viewName: LABKEY.ActionURL.getParameter('viewName') || LABKEY.ActionURL.getParameter('query.viewName') || '~~DETAILS~~',
            columns: LABKEY.ActionURL.getParameter('columns') || LABKEY.ActionURL.getParameter('query.columns'),
            maxRows: 2,
            listeners: {
                load: function(store){
                    LABKEY.Utils.setWebpartTitle(store.queryTitle || LABKEY.ActionURL.getParameter('title') || LABKEY.ActionURL.getParameter('queryName') || LABKEY.ActionURL.getParameter('query.queryName'), webpart.id);
                }
            },
            filterArray: [
                LABKEY.Filter.create(LABKEY.ActionURL.getParameter('keyField'), LABKEY.ActionURL.getParameter('key'), LABKEY.Filter.Types.EQUALS)
            ]
        },
        showViewGridBtn: true
    });
});

</script>