<head>
<script type="text/javascript">

LABKEY.requiresExt4ClientAPI();
LABKEY.requiresScript('/extWidgets/DetailsPanel.js');

</script>
<script type="text/javascript">

Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;
    if(!LABKEY.ActionURL.getParameter('schemaName') ||
        (!LABKEY.ActionURL.getParameter('queryName') && !LABKEY.ActionURL.getParameter('query.queryName')) ||
        !LABKEY.ActionURL.getParameter('keyField') ||
        !LABKEY.ActionURL.getParameter('key')
    ){
        alert('Missing one or more required params');
        return;
    }

    var queryName = LABKEY.ActionURL.getParameter('queryName') || LABKEY.ActionURL.getParameter('query.queryName');

    var panelCfg = {
        renderTo: webpart.wrapperDivId,
        autoHeight: true,
        border: false,
        style: 'padding-bottom:20px;',
        items: [{
            xtype: 'labkey-detailspanel',
            border: false,
            style: 'margin-bottom:20px;',
            schemaName: LABKEY.ActionURL.getParameter('schemaName'),
            queryName: queryName,
            viewName: LABKEY.ActionURL.getParameter('viewName') || LABKEY.ActionURL.getParameter('query.viewName'),
            columns: LABKEY.ActionURL.getParameter('columns') || LABKEY.ActionURL.getParameter('query.columns'),
            keyFieldName: LABKEY.ActionURL.getParameter('keyField'),
            keyValue: LABKEY.ActionURL.getParameter('key'),
            filterArray: [
                LABKEY.Filter.create(LABKEY.ActionURL.getParameter('keyField'), LABKEY.ActionURL.getParameter('key'), LABKEY.Filter.Types.EQUALS)
            ]
        }]
    };

    if(LABKEY.ActionURL.getParameter('schemaName').match(/^study$/i) && LABKEY.ActionURL.getParameter('keyField').match(/^lsid$/i)){
        panelCfg.items.push({
            xtype: 'button',
            handler: function(b){
                window.location = LABKEY.ActionURL.buildURL("query", "executeQuery", null, {
                    schemaName: 'auditLog',
                    'query.queryName': 'DatasetAuditEvent',
                    'query.key1~eq': LABKEY.ActionURL.getParameter('key')
                });
            },
            text: 'Audit History'
        });
    }

    Ext4.create('Ext.panel.Panel', panelCfg);

    LABKEY.NavTrail.setTrail(LABKEY.ActionURL.getParameter('title') || queryName);

});

</script>
</head>