<head>
<script type="text/javascript">
LABKEY.requiresExt4ClientAPI();
LABKEY.requiresScript("/extWidgets/ExcelUploadPanel.js");
</script>
<script type="text/javascript">
Ext4.onReady(function(){
    Ext4.create('Ext.form.Panel', {
        border: false,
        autoHeight: true,
        defaults: {
            border: false
        },
        items: [{
            title: 'Enter SQL',
            buttonAlign: 'left',
            border: true,
            bodyStyle: 'padding:5px;',
            autoHeight: true,
            items: [{
                xtype: 'textfield',
                fieldLabel: 'Schema',
                itemId: 'schemaName',
                width: 200,
                value: LABKEY.ActionURL.getParameter('schemaName')
            },{
                xtype: 'textfield',
                fieldLabel: 'Container Name',
                itemId: 'containerPath',
                width: 200,
                value: LABKEY.ActionURL.getParameter('containerPath')
            },{
                xtype: 'textarea',
                width: 800,
                height: 300,
                fieldLabel: 'SQL',
                itemId: 'sql'
            }],
            buttons: [{
                text: 'Execute SQL',
                handler: function(b){
                    var panel = b.up('form');
                    var grid = panel.down('#grid');

                    grid.body.update('Loading...');
                    LABKEY.Query.executeSql({
                        containerPath: panel.down('#containerPath').getValue(),
                        schemaName: panel.down('#schemaName').getValue(),
                        sql: panel.down('#sql').getValue(),
                        saveInSession: true,
                        scope: this,
                        success: function(results){
                            new LABKEY.QueryWebPart({
                                schemaName: results.schemaName,
                                queryName: results.queryName,
                                allowChooseQuery: false,
                                allowChooseView: true,
                                showRecordSelectors: true,
                                frame: 'none',
                                showDeleteButton: false,
                                timeout: 0,
                                linkTarget: '_blank',
                                scope: this,
                                failure: function(error){
                                    console.log(error);
                                    alert(error.exception || error.message);
                                }
                                //success: function(data){
                                //    console.log('success')
                                //}
                            }).render(grid.body.id);
                        },
                        failure: function(error){
                            grid.body.update('');
                            alert(error.exception || error.message);
                        }
                    });

                }
            }]
        },{
            xtype: 'panel',
            itemId: 'grid'
        }]
    }).render('runCustomSqlDiv');
});

</script>
</head>
<div id='runCustomSqlDiv'></div>