<script type="text/javascript" nonce="<%=scriptNonce%>">

Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;

    var msg = '', sep = '';
    var schemaName = LABKEY.ActionURL.getParameter('schemaName');
    if (!schemaName) {
        msg += sep + 'schemaName';
        sep = ', ';
    }
    var queryName = LABKEY.ActionURL.getParameter('queryName');
    if (!queryName) {
        msg += sep + 'queryName';
    }

    if (msg.length > 0) {
        msg = 'Missing one of the required parameters: ' + msg;
        Ext4.get(webpart.wrapperDivId).update('<span class="labkey-error">' + msg + '</span>');
    }
    else {
        Ext4.create('LABKEY.ext4.SearchPanel', {
            renderTo: webpart.wrapperDivId,
            schemaName: schemaName,
            queryName: queryName,
            viewName: LABKEY.ActionURL.getParameter('viewName') || '~~DETAILS~~',
            defaultViewName: LABKEY.ActionURL.getParameter('defaultViewName'),
            columns: LABKEY.ActionURL.getParameter('columns'),
            showContainerFilter: LABKEY.ActionURL.getParameter('showContainerFilter'),
            defaultContainerFilter: LABKEY.ActionURL.getParameter('defaultContainerFilter'),
            border: false
        });
    }
});
</script>