<script type="text/javascript">

Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;
    var config = {
        renderTo: webpart.wrapperDivId,
        schemaName: LABKEY.ActionURL.getParameter('schemaName'),
        queryName: LABKEY.ActionURL.getParameter('queryName'),
        viewName: LABKEY.ActionURL.getParameter('viewName') || '~~DETAILS~~',
        defaultViewName: LABKEY.ActionURL.getParameter('defaultViewName'),
        columns: LABKEY.ActionURL.getParameter('columns'),
        showContainerFilter: LABKEY.ActionURL.getParameter('showContainerFilter'),
        defaultContainerFilter: LABKEY.ActionURL.getParameter('defaultContainerFilter'),
        border: false
    };

    Ext4.create('LABKEY.ext4.SearchPanel', config);
});
</script>