//
// LabKey Variables
// --------------------------------------------------

//== Colors
$white: #FFF;
$lk-brand-color: #116596;

//== Header
//
$lk-page-header-bg-color: $white;
$lk-page-header-brand-link-color: #333;
$lk-page-header-color: $lk-brand-color;

//== Navigation
//
$lk-page-nav-bg-color: $lk-brand-color;