// Insert your custom variables here.
$base-color: #21309A;
$panel-base-color: $base-color;

$text-color: #212121;
$link-color: #21309A;
$grid-color: #E4E6EA;
$primary-bg-color: #F4F4F4;
$secondary-bg-color: #FFFFFF;
$border-title-color: #3441A1;
$webpart-color: #D0DBEE;