.dynamic-slider-control {
	position:			relative;
	background-color:	ThreeDFace;
	-moz-user-focus:	normal;
	-moz-user-select:	none;
	cursor:				default;
}

.horizontal {
	width:				200px;
	height:				29px;
}

.vertical {
	width:				29px;
	height:				200px;
}

.dynamic-slider-control input {
	display:	none;
}

.dynamic-slider-control .handle {
	position:			absolute;
	font-size:			1px;
	overflow:			hidden;
	-moz-user-select:	none;
	cursor:				default;
}

.dynamic-slider-control.horizontal .handle {
	width:				13px;
	height:				25px;
	background-image:	url("handle.horizontal.png");
}

.dynamic-slider-control.horizontal .handle div {}
.dynamic-slider-control.horizontal .handle.hover {
	background-image:	url("handle.horizontal.hover.png");
}

.dynamic-slider-control.vertical .handle {
	width:				25px;
	height:				13px;
	background-image:	url("handle.vertical.png");
}

.dynamic-slider-control.vertical .handle.hover {
	background-image:	url("handle.vertical.hover.png");
}

.dynamic-slider-control .line {
	position:			absolute;
	font-size:			0.01mm;
	overflow:			hidden;
	border:				1px solid;
	border-color:		ThreeDShadow ThreeDHighlight
						ThreeDHighlight ThreeDShadow;
	-moz-border-radius:	50%;

	behavior:			url("css/boxsizing.htc"); /* ie path bug */
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
}
.dynamic-slider-control.vertical .line {
	width:				2px;
}

.dynamic-slider-control.horizontal .line {
	height:				2px;
}

.dynamic-slider-control .line div {
	display:	none;
}

.dynamic-slider-control .range-line {
	position:			absolute;
	font-size:			0.01mm;
	overflow:			hidden;
	border:				0px;

	behavior:			url("css/boxsizing.htc"); /* ie path bug */
	box-sizing:			content-box;
	-moz-box-sizing:	content-box;
    background-color:   #00008B;
}
.dynamic-slider-control.vertical .range-line {
	width:				2px;
}

.dynamic-slider-control.horizontal .range-line {
	height:				2px;
}

.dynamic-slider-control .range-line div {
	display:	none;
}