<module xmlns="http://labkey.org/moduleProperties/xml/">
    <properties>
        <propertyDescriptor name="FileRootCopyExpectedFailureSimulator">
            <canSetPerContainer>true</canSetPerContainer>
            <description>During a migration from one file root to another (say, from local to cloud-based storage), simulate an I/O failure for files that match this regular expression. Note that this is a Java regular expression, not a file wildcard</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
        <propertyDescriptor name="FileRootCopyUnexpectedFailureSimulator">
            <canSetPerContainer>true</canSetPerContainer>
            <description>During a migration from one file root to another (say, from local to cloud-based storage), simulate an unexpected type of failure for files that match this regular expression. Note that this is a Java regular expression, not a file wildcard</description>
            <editPermissions>
                <permission>ADMIN</permission>
            </editPermissions>
        </propertyDescriptor>
    </properties>
</module>