
.labkey-iconpanel div.thumb-large{
	width: 100px;
}
.labkey-iconpanel div.thumb-medium{
	width: 80px;
}

.labkey-iconpanel img.thumb-large{
	height: 60px;
	width: 60px;
}

.labkey-iconpanel img.thumb-medium{
	height: 40px;
	width: 40px;
}

.labkey-iconpanel img.thumb-small{
	height: 20px;
	width: 20px;
}

.labkey-iconpanel .thumb-wrap{
	padding: 5px;
    text-align: center;
}

.labkey-iconpanel .thumb-wrap-bottom{
	float: left;
    display: block;
}

.labkey-iconpanel .thumb-label-bottom{
    word-wrap: break-word;
}


.labkey-iconpanel .thumb-wrap-side{
    position: relative;
    clear: both;
    width: 100%;
    float: left;
    display: block;
}

.labkey-iconpanel .thumb-img-side{
	float: left;
    position: relative;
    padding-right: 3px;
}

.labkey-iconpanel .thumb-label-side{
	float: left;
    padding-top: 2px;
}

.labkey-iconpanel .x4-item-over{
    border:1px solid #dddddd;
    background: #efefef;
	padding: 4px;
}
