.import-options-panel .import-options-form-btn {
    margin-top: 30px;
}

.import-options-panel .import-options-form-cell {
    padding-top: 5px;
}

.import-options-panel .advanced-options-panel {
    padding-top: 10px;
    padding-bottom: 20px;
}

.import-options-panel .advanced-options-panel .look-disabled {
    color: #C0C0C0;
}

.import-options-panel .advanced-options-panel .x4-panel-body {
    padding: 10px;
}

.import-options-panel .apply-multiple-panel .x4-grid-table {
    padding: 10px
}

.import-options-panel .apply-multiple-panel .multiple-folder-footer .x4-panel-body {
    background-color: transparent;
    padding: 5px 0 0 0;
    font-style: italic;
}

.import-options-panel .advanced-options-header {
    padding-bottom: 5px;
}

.import-options-panel .advanced-options-title {
    font-weight: bold;
}

.import-options-panel .advanced-options-input {
    padding-top: 5px;
}

.import-options-panel .advanced-options-hide {
    display: none;
}