// Insert your custom variables here.
$base-color: #226495;
$panel-base-color: #DFE8F6;

$text-color: #000000;
$link-color: #126495;
$grid-color: #E7EFF4;
$primary-bg-color: #F8F8F8;
$secondary-bg-color: #FFFFFF;
$border-title-color: #676767;
$webpart-color: #E0E6EA;