# Set registry for @glass and @labkey scopes
@glass:registry=https://artifactory.labkey.com/artifactory/api/npm/libs-client/
@labkey:registry=https://artifactory.labkey.com/artifactory/api/npm/libs-client/