.labkey-edit-in-place
{
    padding-right: 30px;
    border: 1px transparent solid;
}
.labkey-edit-in-place-hover
{
    background-color: #FFFFCC;
}
.labkey-edit-in-place-empty
{
    font-style: italic;
    color: #909090;
}
.labkey-edit-in-place-updating
{
    background-color: #EEEEEE;
    color: #999999;
    background-image: url("_images/ajax-loading.gif");
    background-position: center;
    background-repeat:no-repeat;
}
.labkey-edit-in-place-icon
{
    background-image: url("_images/pencil.png");
    position: absolute;
    width: 25px;
    height: 23px;
    padding: 0;
    margin: 0;
    border: 0;
}
.labkey-edit-in-place-icon-hover
{
    background-position: -25px 0;
}
.labkey-edit-in-place-icon-mouse-down
{
    background-position: -50px 0;
}
