.labkey-edit-in-place
{
}
.labkey-edit-in-place-hover
{
    background-color: #FFFFCC;
}
.labkey-edit-in-place-empty
{
    font-style: italic;
    color: #909090;
}
.labkey-edit-in-place-updating
{
    background-color: #EEEEEE;
    color: #999999;
    background-image: url("_images/ajax-loading.gif");
    background-position: center;
    background-repeat:no-repeat;
}
