.labkey-error {
    margin-top: 15px;
}

.register-text {
    padding-left: 5px;
    padding-right: 5px;
}

.loginSubmitButton {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

.auth-header {
    font-size: 14pt;
}

.auth-form {
    padding: 10px 20px;
}

.otherLoginMechanismsSection {
    padding: 40px 20px 10px;
}

.otherLoginMechanismsContent {
    margin-top: 15px;
}

.auth-form-body {
    margin-top: 15px;
}

.auth-form-body input[type="text"],
.auth-form-body input[type="password"] {
    width: 350px;
    border: 1px solid #A0A0A0;
    vertical-align: middle;
    padding: 7px 8px;
}

.auth-item {
    margin-top: 15px;
}

.input-block {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.register-submit-button {
    position: absolute;
    left: -9999px;
    width: 1px;
    height: 1px;
}

ul.sso-list {
    display: inline-block;
    list-style: none;
    padding: 0;
}

ul.sso-list > li {
    float: left;
    padding-right: 10px;
}