
@page { size: 8.5in 11in; margin: 0.79in }

.no-print,
#leftmenupanel, #headerpanel, #navpanel,
.labkey-button-bar
{
    display: none;
}

.labkey-data-region .labkey-details,
.labkey-data-region .labkey-update,
.labkey-data-region .labkey-selectors
{
    visibility: collapse;
    display: none;
}

h1, h2, h3, h4, h5, h6
{
    page-break-after: avoid;
}

p, blockquote, ul, ol, dl, pre
{
    page-break-inside: avoid;
}

div.pagebreak
{
    page-break-before: always;
}

body, table.labkey-main
{
    color:#ffffff;
}

/* These are set to 100% in stylesheet.css, which causes Firefox to print blank pages, #14002 */
table.labkey-main
{
    height: auto !important;
    width: auto !important;
}
