.pSite button,
li.pSite, div.pSite {font-weight:bold;}
.pGroup button,
li.pGroup, div.pGroup {font-weight:bold;}
.pUser button, div.pUser {}

span.closeicon {
    background-image: url(http://localhost:8080/labkey/ext-4.1.0/resources/themes/images/default/tools/tool-sprites.gif);
    background-position: 0 0 !important;
    height: 15px !important; width: 15px !important;
}

table.userinfo tr {
    line-height: 19px;
}

table.userinfo td {
    padding-right: 5px;
}

p.userinfoHdr {
    font-weight: bold;
    margin: 6px 0px !important;
}

.participant-filter-panel span.x4-panel-header-text-default {
    color: black;
}

.participant-filter-panel a {
    color: black;
}
