@import "~@labkey/components/dist/assets/scss/theme";

.labkey-error-top {
  width: 100%
}

.labkey-error-heading {
  color : #B82025;
  font-size: 48px;
}

.labkey-error-subheading {
  font-size: 24px;
  text-overflow: ellipsis;
  padding-bottom: 3rem;
  width: 587px
}

.labkey-error-instruction {
  font-size: 18px;
  padding-bottom: 15px;
  width: 560px;
}

.labkey-error-details {
  font-size: 16px;
}

.labkey-error-subdetails {
  padding-left: 5rem;
  padding-bottom: 3rem;
}

.labkey-error-details-question {
  font-weight: bold;
}

.error-backButton {
  display: inline-block;
  text-align: center;
  margin: 0.5rem 5rem 0.5rem 0.5rem;
  background-color: #538AC5;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.error-details-body {
  padding: 15px;
}

.error-details-btn {
  display: inline-block;
  text-align: center;
}

.error-details-container {
  position: relative;
  background: #F3F3F4;
  border: 1px solid transparent;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.error-details-container:before, .error-details-container:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 24rem;
  border: 4rem solid transparent;
  border-bottom-color: #F3F3F4;
}

.error-details-container:after {
  left: 25rem;
  border: 3rem solid transparent;
  border-bottom-color: #F3F3F4;
}

.permission-warning-icon {
  color: #B82025;
}

.error-page-br {
  margin-bottom: 1rem;
}