.labkey-error-top {
  width: 100%
}

.labkey-error-heading {
  color : #B82025;
  font-size: 48px;
  font-weight: 600
}

.labkey-error-subheading {
  font-size: 24px;
  text-overflow: ellipsis;
  padding-bottom: 3rem;
  width: 587px
}

.labkey-error-instruction {
  font-size: 18px;
  padding-bottom: 15px;
  width: 560px;
}

.labkey-error-details {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 21px;
  padding-bottom: 2px;
  padding-left: 2rem;
}

.labkey-error-subdetails {
  padding-left: 5rem;
}

.labkey-error-details-question {
  font-weight: bold;
}

.labkey-error-stacktrace {
  font-size: 14px;
  padding-bottom: 15px;
  width: 560px;
}

.error-backButton {
  margin: 0.5rem 5rem 0.5rem 0.5rem;
  background-color: #538AC5;
  font-size: 14px;
  width: 10%;
  padding-left: 15px;
  padding-right: 15px;
}

.error-details-btn {

}

.error-details-container {
  position: relative;
  background: #F3F3F4;
  border: 1px solid transparent;
  margin-top: 5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.error-details-container:before, .error-details-container:after {
  content: '';
  position: absolute;
  bottom: 100%;
  left: 17rem;
  border: 4rem solid transparent;
  border-bottom-color: #F3F3F4;
}

.error-details-container:after {
  left: 18rem;
  border: 3rem solid transparent;
  border-bottom-color: #F3F3F4;
}