.chart-type-panel {
    background-color: #eeeeee;
    padding: 10px;
}

.chart-type-panel div,
.chart-type-panel span {
    color: #404040;
}

.chart-type-panel .x4-border-layout-ct {
    background-color: transparent;
}

.chart-type-panel .region-panel {
    background-color: #eeeeee;
    margin: 10px;
}

.chart-type-panel .query-columns .x4-grid-cell {
    cursor: pointer;
}

.chart-type-panel .mapping-panel {
    border: solid #c0c0c0 1px;
}

.chart-type-panel .mapping-panel .mapping-query-col,
.chart-type-panel .mapping-panel .field-selections {
    padding: 15px
}
.chart-type-panel .mapping-panel .mapping-query-col .description {
    padding-bottom: 15px;
}
.chart-type-panel .field-selections .type-title {
    padding-bottom: 15px;
    font-weight: bold;
    font-size: 18px;
}
.chart-type-panel .field-selections .type-footer {
    font-size: 12px;
}
.chart-type-panel .field-selections .missing-required .field-title {
    color: red;
}
.chart-type-panel .field-selections .field-area {
    margin-bottom: 10px;
    padding: 5px;
    background-color: #eeeeee;
    border: dashed transparent 3px;
}
.chart-type-panel .field-selections .field-area-drop-text {
    position: absolute;
    top: 33px;
    left: 79px;
    color: #c0c0c0;
    cursor: default;
}
.chart-type-panel .field-selections .drop-target .field-area {
    border-color: #c0c0c0;
}
.chart-type-panel .field-selections .drop-target-over .field-area {
    border-color: #41c49f;
}
.chart-type-panel .field-selections .drop-target-over .field-selection-display {
    opacity: 0.5;
}
.chart-type-panel .field-selections .field-selection-display {
    background-color: #41c49f;
    margin-top: 4px;
    padding: 4px 8px;
    color: white;
    border-radius: 8px;
    border: solid transparent 1px;
}
.chart-type-panel .field-selections .field-selection-display .field-selection-remove {
    display: none;
    position: absolute;
    right: 17px;
    color: #707070;
}
.chart-type-panel .field-selections .field-selection-display:hover {
    border-color: #707070;
    cursor: default;
}
.chart-type-panel .field-selections .field-selection-display:hover .field-selection-remove {
    display: inline-block;
}
.chart-type-panel .field-selections .field-selection-display .field-selection-remove:hover {
    color: #404040;
}

.chart-type-panel .title-panel div {
    background-color: #eeeeee;
    color: #707070;
    font-size: 20px;
    font-weight: bold;
}

.chart-type-panel .types-panel {
    background-color: #ffffff;
    border: solid #c0c0c0 1px;
}

.chart-type-panel .types-panel .item {
    margin: 10px;
    padding: 5px;
    border: solid transparent 2px;
}
.chart-type-panel .types-panel .item div {
    font-weight: bold;
    cursor: default;
}
.chart-type-panel .types-panel .item-disabled img {
    opacity: 0.2;
}
.chart-type-panel .types-panel .item-disabled div {
    opacity: 0.5;
}
.chart-type-panel .types-panel .x4-item-selected div {
    color: #41c49f;
}
.chart-type-panel .types-panel .item-active:hover {
    border: solid #41c49f 2px;
}
