.labkey-dataregion-msg-plot-analytic {
    display: inline-block;
}

.labkey-dataregion-msg-plot-analytic svg
{
    margin-right: 3px;
}

.labkey-dataregion-msg-plot-analytic svg:hover
{
    background-color: #EEEEEE;
}

.labkey-dataregion-msg-plot-analytic {
    cursor: pointer;
}

.labkey-dataregion-msg-plot-analytic .plot-analytics-remove {
    opacity: 0;
    font-size: 15px;
    position: relative;
    right: 25px;
    bottom: 180px;
    cursor: pointer;
}

.labkey-dataregion-msg-plot-analytic:hover .plot-analytics-remove {
    opacity: 0.6;
}
.labkey-dataregion-msg-plot-analytic .plot-analytics-remove:hover {
    opacity: 1;
}