
.labkey-dataregion-msg-plot-analytic svg
{
    margin-right: 3px;
}

.labkey-dataregion-msg-plot-analytic svg:hover
{
    background-color: #EEEEEE;
}

.labkey-dataregion-msg-plot-analytic a.bar-individual:hover,
.labkey-dataregion-msg-plot-analytic a.box:hover,
.labkey-dataregion-msg-plot-analytic svg text:hover {
    cursor: default;
}