/* Replaces project-nav */
.beta-nav
{
    max-height: 475px;
    min-height: 75px;
    min-width: 280px;
    max-width: 800px;
    white-space: nowrap;
    overflow: hidden;
}

.list-content .title
{
    padding-bottom: 0.5em;
    margin-bottom: 0;
    font-size: 11pt;
}

.project-list-container
{
    min-width: 15em;
    float: left;
    overflow: hidden;
}

.project-list
{
    border-right: 1px solid #d3d3d3;
}

.project-list ul
{
    list-style: none;
    padding: 0;
    margin-top: 0;
}

.project-list ul li
{
    list-style: none;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    padding-right: 25px;
}

.project-list ul li:hover
{
    /*background-color: #126495;*/
    background-image: url('../_images/beta_nav_arrow.png');
    background-repeat: no-repeat;
    background-position: 95% 50%;
}

.project-list ul li:hover a
{
    color: #ffffff;
}

.project-list ul li a
{
    padding: 5px;
    display: inline-block;
    width: 100%;
}

.folder-list-container
{
    width: 24em;
    float: right;
    margin-left: 1.5em;
}

.beta-folder-tree
{
    max-height: 358px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-y: auto;
    -ms-overflow-x: hidden;
    padding: 5px 50px 10px 10px;
}

.nav-buttons {
    margin-top: 10px;
}