// 1. Create theme using 'x4-' prefix
// 2. Get it working on Chrome/FF/IE9
// 3. Once complete, rename prefix to 'x-' and recompile scss
// 4. Slice images
//      a. Example command from the /labkey-ext-theme directory is:
//          sencha slice theme -d ..\ext-4.1.0 -c resources\css\ext-seattle.css -v
//      b. Copy all files generated to /ext-4.1.0/resources/themes/images/default
// 5. Reset prefix to 'x4-' and recompile scss

/*@import 'ext4/default/variables';*/

// We are currently using the Ext sandbox so we change the prefix to not conflict with other Ext versions on the page
$prefix: 'x4-';
$scope-reset-css: true;

$font-family: Verdana, Arial, Helvetica, sans serif;

// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: true;

//layout
$accordion-header-background-color: $webpart-color;

//panel
$panel-base-color: $panel-base-color; // #d3d3d3; //#DFE8F6;
$panel-header-background-color: $base-color;
$panel-header-color: #ffffff;
$panel-body-background-color: #ffffff;
$panel-border-color: #B4B4B4 !default; //adjust-color($base-color, $hue: 0deg, $saturation: 7.644%, $lightness: 2.627%) !default;
$panel-header-inner-border: false;
$panel-header-background-gradient: color-stops($base-color, $base-color);


//buttons
$button-text-transform: uppercase !default;
$button-default-color: $base-color;
$button-default-color-over: #000;
$button-default-color-focus: #000;
$button-default-color-pressed: #000;
$button-default-color-disabled: #808080;

$button-small-font-weight: bold; // defaults is 'normal !default'
$button-small-border-radius: 3px; // default is '3px !default';

$button-default-base-color: #fff;
$button-default-base-color-over: #fff;
$button-default-base-color-focus: $button-default-base-color-over;
$button-default-base-color-pressed: #fff;
$button-default-base-color-disabled: adjust-color($base-color, $hue: 0deg, $saturation: -55.556%, $lightness: 12.745%) !default; //F7F7F7

$button-default-border-color: #b4b4b4;
$button-default-border-color-over: #676767;
$button-default-border-color-focus: #676767;
$button-default-border-color-pressed: #333333;
$button-default-border-color-disabled: #DDDDDD;

$button-default-background-gradient: color-stops(#fff, #e4e4e4);
$button-default-background-gradient-over: color-stops(#fff, #e4e4e4);
$button-default-background-gradient-focus: color-stops(#fff, #e4e4e4);
$button-default-background-gradient-pressed: color-stops(#fff, #e4e4e4);
$button-default-background-gradient-disabled: color-stops(#fff, #e4e4e4);

$button-default-background-gradient-color-stops: null;
$button-default-background-gradient-color-stops-over: null;
$button-default-background-gradient-color-stops-focus: null;
$button-default-background-gradient-color-stops-pressed: null;
$button-default-background-gradient-color-stops-disabled: null;


$button-toolbar-base-color: $button-default-base-color;

$button-toolbar-border-color: transparent !default;
$button-toolbar-border-color-over: $button-default-border-color-over;
$button-toolbar-border-color-focus: $button-default-border-color-focus;
$button-toolbar-border-color-pressed: $button-default-border-color-pressed;
$button-toolbar-border-color-disabled: $button-default-border-color-disabled;

$button-toolbar-background-color: transparent !default;
$button-toolbar-background-color-over: $button-default-base-color-over;
$button-toolbar-background-color-focus: $button-default-base-color-focus;
$button-toolbar-background-color-pressed: $button-default-base-color-pressed;
$button-toolbar-background-color-disabled: transparent;

$button-toolbar-background-gradient: null;
$button-toolbar-background-gradient-over: color-stops(#fff, #e4e4e4);
$button-toolbar-background-gradient-focus: color-stops(#fff, #e4e4e4);
$button-toolbar-background-gradient-pressed: color-stops(#e4e4e4, #fff);
$button-toolbar-background-gradient-disabled: null;

$button-toolbar-background-gradient-color-stops: null;
$button-toolbar-background-gradient-color-stops-over: null;
$button-toolbar-background-gradient-color-stops-focus: null;
$button-toolbar-background-gradient-color-stops-pressed: null;
$button-toolbar-background-gradient-color-stops-disabled: null;

//menus
$menu-background-color: #fff !default;
$menu-item-active-background-color: #EAEAEA !default;

//menu borders
$menu-item-active-border-color: #B4B4B4 !default;

//meun sizes
$menu-link-padding: 2px 21px 2px 27px !default;

.x4-reset .x4-menu-body {
    padding: 0px !important;
}

.x4-reset .x4-menu-item-text {
    font: normal 11px arial,tahoma,sans-serif;
}

.x4-reset .x4-menu-icon-separator {
    display: none;
}

.x4-reset .x4-menu-item-icon {
    top: 3px !important;
}

.x4-reset .x4-menu-item-arrow {
    top: 7px !important;
    background-image: url(../../../_images/arrow_right.png) !important;
}

#headerSearchInput-inputEl {
    line-height: 16px !important;
    border-color: #B5B8C8 !important;
}

//window
$window-background-color: $base-color;
$window-header-color: #fff;
$window-body-background-color: #fff;

//grids
$grid-header-background-color: #FFFFFF;
$grid-header-over-background-color: $grid-color;
$grid-row-cell-selected-background-color: #C5C5C5 !default;

//toolbars
$toolbar-background-color: #eeeeee;

//qtips
$tip-base-color: #eeeeee;

// combo box drop down
$boundlist-item-over-background-color: #e0e0e0; //adjust-color($base-color, $hue: 3.188deg, $saturation: 0.542%, $lightness: 60%) !default;

// date picker
$datepicker-base-color: #C0D4ED;

// darken load mask
$loadmask-opacity: 0.25 !default;
$loadmask-backgorund: #000 !default;

// ext tabpanel

//the tabs themselves
$tab-base-color: $primary-bg-color;
$tab-base-color-active: $primary-bg-color;
$tab-base-color-over: $primary-bg-color;
$tab-background-gradient-over: color-stops($primary-bg-color, $primary-bg-color);

$tab-background-gradient-active: color-stops($primary-bg-color, $primary-bg-color);
$tab-background-gradient: color-stops($webpart-color, $webpart-color);

//1x borders around the tabs
$tab-border-color-active: #B4B4B4;  //grey
$tab-border-color: #B4B4B4;  //grey

//text
$tab-color: $text-color;

$tabbar-base-color: transparent;  //no background behind tabs
$tabbar-border-color: transparent; //no background around tabbar

//slightly increase tab size
$tab-height: 23px;
$tab-spacing: 3px;

/*** PATCHES ***/
/* A margin is being explicitly added to the inner element of buttons in Ext 4.1.0. */
.x4-reset .x4-btn .x4-btn-center .x4-btn-inner {
    margin: 0 !important;
}

/* A margin is being explicitly added to the inner element of buttons in Ext 4.1.0. */
.x4-reset .x4-tab .x4-tab-inner {
    margin: 0 !important;
}

.x4-reset .x4-column-header {
    border-bottom: 1px solid #AAAAAA !important;
    border-right: 1px solid #DDDDDD !important;
}

.x4-reset {
    .x4-column-header-over {
        background-image: none !important;
        cursor: pointer !important;
    }
}

@import 'ext4/default/all';

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true


