// We are currently using the Ext sandbox so we change the prefix to not conflict with other Ext versions on the page
$prefix: 'x4-';
$scope-reset-css: true;

// Unless you want to include all components, you must set $include-default to false
// IF you set this to true, you can also remove lines 10 to 38 of this file
$include-default: true;

// Insert your custom variables here.
/*$base-color: #FF8800;*/
/*$button-small-border-radius: 3px !default;*/

@import 'ext4/default/all';

// This line changes the location of your images when creating UIs to be relative instead of within the ExtJS directory.
// You MUST set this to true/string value if you are creating new UIs + supporting legacy browsers.
// This only applies to new UIs. It does not apply to default component images (i.e. when changing $base-color)
// The value can either be true, in which case the image path will be "../images/"
// or a string, of where the path is
$relative-image-path-for-uis: true; // defaults to "../images/" when true