$dr.formHeader
#foreach($row in $dr.rows)
<table>
<input type="hidden" name="modelId" value="$modelId"/>
#foreach($field in $row.fields)
#if($field.columnInfo.inputType == "checkbox")
<tr><td class="ms-searchform">$field.title</td>
<td><select name="$field.columnInfo.propertyName">
    <option></option>
    <option value=1>true</option>
    <option value=0>false</option>
    </select>
    </td>
    </tr>
#else
$field.formField
#end
#end
</table>
#end
#foreach($row in $selectedRows)
<input type="hidden" name=".select" value="$row"/>
#end
<br>Note: Blank fields will not be changed.</br>
$dr.buttonBar
$dr.formEnd