<script type="text/javascript">
    LABKEY.requiresClientAPI(true);
    LABKEY.requiresScript("vis/measuresPanel.js");
    LABKEY.requiresVisualization();
    LABKEY.requiresScript("vis/timeChartPanel.js");
    Ext.QuickTips.init();
</script>

<script type="text/javascript">
    Ext.onReady(function(){
        // get the type information from the server
        LABKEY.Visualization.getTypes({
            successCallback : storeVisualizationTypes,
            failureCallback : function(info, response, options) {LABKEY.Utils.displayAjaxErrorResponse(response, options);},
            scope: this
        });
    });

    var viewTypes = {};
    function storeVisualizationTypes(types) {
        // store the type information
        for (var i=0; i < types.length; i++)
        {
            var type = types[i];
            viewTypes[type.type] = type;
        }

        // see if the wizard is being accessed with a saved visualization referenced on the URL
        if(LABKEY.Visualization.getFromUrl({success: this.viewSavedChart})) {
            // we have a saved chart being access, viewSavedChart will be called
        }
        else {
            // no saved visualization to show, so just initialize the wizard without a pre-selected measure
            this.initializeTimeChartPanel();
        }
    }

    function viewSavedChart(result, response, options){
        if(result.type == LABKEY.Visualization.Type.TimeChart){
            var saveReportInfo = {
                name: result.name,
                description: result.description,
                queryName: result.queryName,
                schemaName: result.schemaName,
                shared: result.shared
            };

            initializeTimeChartPanel(result.visualizationConfig, saveReportInfo);
        }
        else {
            Ext.Msg.alert("Error", "The saved chart is not of type = TimeChart");
        }
    }

    function initializeTimeChartPanel(chartInfo, saveReportInfo) {
        // create a new chart panel and insert into the wizard
        var panel = new Ext.Panel({
            renderTo: 'vis-wizard-panel',
            height: 650,
            resizable: true,
            layout: 'border',
            frame: false,
            border: false,
            items: [
                new LABKEY.vis.TimeChartPanel({
                    region: 'center',
                    layout: 'border',
                    flex: 1,
                    border: false,
                    viewInfo: viewTypes['line'],
                    chartInfo: chartInfo,
                    saveReportInfo: saveReportInfo
                })
            ]
        });
    }
</script>

<div id="vis-wizard-panel" class="extContainer" style="width:100%"/>
