/* for ext buttons/menus etc */
.iconUp { background-image: url(up.png) !important; } 
.iconDelete { background-image: url(delete.png) !important; } 
.iconReload { background-image: url(reload.png) !important; }
.iconDownload { background-image: url(download.png) !important; }
.iconDownloadManager { background-image: url(download_manager.png) !important; }
.iconFileNew { background-image: url(filenew.png) !important; }
.iconFileOpen { background-image: url(fileopen.png) !important; }
.iconFolderNew { background-image: url(folder_new.png) !important; }
.iconMessage { background-image: url(message.png) !important; }
.iconCheck { background-image: url(check.png) !important; }
