//== Colors
//
$white: #FFFFFF;
$lk-brand-color: #116596;
$lk-secondary-brand-color: #3495D2;

//== Header
//
$lk-page-header-bg-color: $lk-brand-color;
$lk-page-header-brand-link-color: $white;
$lk-page-header-color: $white;

//== Navigation
//
$lk-page-nav-bg-color: $lk-secondary-brand-color;
