// Insert your custom variables here.
$base-color: #892405;
$panel-base-color: $base-color;

$text-color: #212121;
$link-color: #892405;
$grid-color: #F5E2BB;
$primary-bg-color: #F4F4F4;
$secondary-bg-color: #FFFFFF;
$border-title-color: #892405;
$webpart-color: #DBD8D2;
