//== Paths
//

//== Colors
//
$Madison-red: #c5050c;
$Madison-red-dark: #9b0000;
$Madison-page-bkgd: #f7f7f7;
$Madison-gray-blue: #dadfe1;
$Madison-gray-darker: #646569;
$Madison-gray-darkest: #282728;
$Madison-body-font: #494949;
$Madison-anchor-color: #0479a8;
$Madison-gray-footer-text: #adadad;
$Madison-gray-footer-text-hover: #f9f9f9;
$Madison-white: #FFFFFF;

$lk-text-color: $Madison-body-font;

//== Fonts
//
$lk-body-font-family: Georgia, sans-serif;
$lk-heading-font-family: Lato, sans-serif;

//== Forms / States
//
$lk-state-warning-text: $Madison-body-font;
$lk-state-warning-bg: $Madison-gray-blue;
$lk-state-warning-border: darken(adjust-hue($lk-state-warning-bg, -10), 5%);

//== Body
//
$lk-body-bg-color: $Madison-page-bkgd;

//== Buttons
//
$lk-button-bg-color: $Madison-white;
$lk-button-bg-color-hover: $Madison-red;
$lk-button-border-color: $Madison-red;
$lk-button-border-color-hover: $Madison-red;
$lk-button-color: $Madison-red;
$lk-button-color-hover: $Madison-page-bkgd;
$lk-button-font-family: Lato;

$lk-button-primary-bg-color: $Madison-red;
$lk-button-primary-bg-color-hover: $Madison-red;
$lk-button-primary-color: $Madison-page-bkgd;
$lk-button-primary-color-hover: $Madison-page-bkgd;
$lk-button-primary-border-size: 2px;
$lk-button-primary-border-color: $Madison-page-bkgd;
$lk-button-primary-border-color-hover: $Madison-gray-blue;

$lk-bar-button-color: $Madison-anchor-color;
$lk-bar-button-color-hover: $Madison-gray-darkest;
$lk-bar-button-border-color-hover: $Madison-gray-blue;
$lk-bar-button-font-family: Lato;

//== Dropdowns
//
$lk-dropdown-bg-color: $Madison-page-bkgd;
$lk-dropdown-link-hover-color: $Madison-page-bkgd;
$lk-dropdown-link-hover-bg: $Madison-red-dark;

//== Grids
//
$lk-grid-font-family: Arial;

$lk-grid-row-bg-color: $Madison-page-bkgd;
$lk-grid-row-alt-bg-color: $Madison-gray-blue;
$lk-grid-row-color-hover: $Madison-gray-footer-text;
$lk-grid-row-select-color: $Madison-anchor-color;
$lk-grid-row-select-color-hover: $Madison-gray-footer-text;
$lk-grid-row-select-text-color: $Madison-page-bkgd;
$lk-grid-row-select-link-color: $Madison-gray-blue;

$lk-grid-filter-border-color: $Madison-red-dark;
$lk-grid-sort-icon-color: $Madison-page-bkgd;

//== Header
//
$lk-page-header-bg-color: $Madison-red;
$lk-page-header-text-color: $Madison-page-bkgd;
$lk-page-header-icon-color: $Madison-page-bkgd;
$lk-page-header-font-hover-color: $Madison-gray-blue;
$lk-page-header-icon-hover-color: $Madison-gray-blue;

//== Headings
//
$lk-headings-font-family: "Lato";

//== Links
//
$lk-link-color: $Madison-anchor-color;
$lk-text-link-color: $Madison-red-dark;
$lk-text-link-color-hover: $Madison-gray-darkest;

//== Navigation
//
$lk-page-nav-bg-color: $Madison-red-dark;
$lk-page-nav-text-color: $Madison-page-bkgd;
$lk-page-nav-active-bg-color: $Madison-page-bkgd;
$lk-page-nav-active-text-color: $Madison-red-dark;
$lk-page-nav-dropdown-item-bg-color: $Madison-page-bkgd;
$lk-page-nav-dropdown-item-text-color: $Madison-red-dark;
$lk-page-nav-dropdown-highlight-item-bg-color: $Madison-red-dark;
$lk-page-nav-dropdown-highlight-item-text-color: $Madison-page-bkgd;
$lk-page-nav-dropdown-icon-color: $Madison-red-dark;
$lk-page-nav-secondary-tab-bg-color: $Madison-gray-blue;
$lk-page-nav-secondary-tab-text-color: $Madison-red-dark;
$lk-page-nav-primary-tab-bg-color: $Madison-page-bkgd;
$lk-page-nav-primary-tab-text-color: $Madison-red-dark;

//== Panels
//
$lk-panel-bg-color: $Madison-white;
$lk-panel-default-text: $Madison-red;
$lk-panel-default-border: $Madison-gray-darker;

$lk-panel-title-text-transform: uppercase;

//== Portals
//
$lk-webpart-accent-color: $Madison-red;
$lk-webpart-title-hover-color: $Madison-anchor-color;

//== Tabs (Bootstrap tabs (Export data set dropdown))
//
$lk-nav-tab-primary-bg-color: white;
$lk-nav-tab-secondary-text-color: $Madison-anchor-color;

//== Tool Icons
//
$lk-tool-icon-color: $Madison-red-dark;

//== Tooltips
//
$lk-tooltip-bg-color: $Madison-gray-darkest;
$lk-tooltip-text-color: $Madison-page-bkgd;
$lk-tooltip-opacity: 1;

// TODO: Merge Ext specific styles with those above.
//== Ext4
//== Ext4 - Buttons
//
$lk-x4-button-default-base-color-disabled: $Madison-red;
$lk-x4-btn-group-inner-border-base-color: $Madison-red;

//== Ext4 - Forms
//
$lk-x4-form-field-focus-border-base-color: $Madison-red;

//== Ext4- Grids
//
$lk-x4-grid-row-cell-selected-border-base-color: $Madison-red;

//== Ext4 - Layout
//
$lk-x4-accordion-header-background-color: $Madison-page-bkgd;
$lk-x4-border-layout-ct-background-base-color: $Madison-red;

//== Ext4 - Panel
//
$lk-x4-panel-header-background-color: $Madison-red;
$lk-x4-panel-header-background-gradient-base-color: $Madison-red;
$lk-x4-panel-header-inner-border-base-color: $Madison-red;
$lk-x4-panel-frame-base-color: $Madison-red;

//== Ext4 - Toolbars
//
$lk-x4-toolbar-separator-base-color: $Madison-red;

//== Ext4 - Windows
//
$lk-x4-window-background-color: $Madison-red;
$lk-x4-window-base-color: $Madison-red;