/* Grid */
.dvc .x4-reset .x4-grid-header-ct,
.dvc .x4-reset .x4-toolbar-default,
.dvc .x4-reset .x4-column-header,
.dvc .x4-reset .x4-column-header-over,
.dvc .x4-reset .x4-column-header-sort-ASC,
.dvc .x4-reset .x4-column-header-sort-DESC {
    background-image: none;
    background-color: transparent;
}

/* Specific to Data Views Panel */
/* Border Layout */
.dvc .x4-reset .x4-border-layout-ct {
    background-color: transparent;
}

.dvc .x4-reset .x4-region-collapsed-placeholder {
    display: none;
    height : 0px !important;
}

.dvc .x4-reset .x4-panel .x4-grid-body {
    background-color: transparent;
}

.dvc .x4-grid-cell-first,
.dvc .x4-name-column-cell {
    border-left: 1px solid #C5C5C5 !important;
}

.dvc .x4-reset .x4-grid-row .x4-grid-cell {
    border-right: 1px solid #C5C5C5 !important;
}

.dvc .x4-reset .x4-grid-row .x4-grid-cell.x4-grid-cell-first {
    border-right: none !important;
}

.dvc .x4-reset .x4-grid-view {
    border-bottom: 1px solid #C5C5C5;
}

.dvc td.type-column div {
    text-align: center !important;
}

/* Grid column title */
.dvc .x4-reset .x4-column-header-inner .x4-column-header-text {
    font-weight: bold;
}

/* Tree Column */
.dvc .dvcategory img.x4-tree-icon {
    display: none !important;
}

.dvc .dvcategory div.x4-grid-cell-inner {
    font: bold 12px Verdana, Arial, Helvetica, sans serif;
    border-bottom: 1px solid #154B76;
}

.dvc .dvcategory div.x4-grid-cell-inner span {
    vertical-align: -3px;
}

.dvc .x4-grid-tree-node-leaf td {
    padding-left: 0px !important;
}

.x4-reset .dataset-search .x4-form-text {
    font-size: 17px;
    padding-left: 6px;
    border-color: #D9D9D9;
    border-top-color: silver;
    height: 25px;
    line-height: 15px;
}

/* participant & group filter panel label */
.lk-filter-panel-label:hover
{
    text-decoration: underline;
}

/* Ext4 Windows */
.x4-reset .data-window,
.x4-reset .data-window .x4-window-header-default-top
{
    border-color: #A9A9A9;
    background-color: white;
}

.x4-reset .data-window .x4-window-body-default {
    border-color:  transparent !important;
}

.x4-reset .data-window span.x4-window-header-text-default
{
    color: #333333;
}

/* Ext4 Forms */
.x4-reset .data-window .x4-form-cb-label-after
{
    position: absolute;
}

/* Hover Tip */
div.data-views-tip-panel
{
    box-shadow: rgb(220, 220, 220) 4px 5px 5px;
}

div.hide-tip {
    display: none !important;
}

div.data-views-tip-content table
{
    width: 100%;
}

/* Thumbnails -- seen in hover tooltip, edit prop panel, and some report save dialogs */
div.thumbnail
{
    margin-top: 5px;
}

div.thumbnail img
{
    height:200px;
    max-width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

div.thumbnail svg
{
    height: 200px !important;
    width: 300px !important;
    display: block;
}

/* Report Filter Panel */
.normalwrap-gridcell {
  white-space: normal !important;
  word-wrap: break-word;
}

.x4-reset .report-filter-panel .x4-grid-row .x4-grid-cell,
.x4-reset .report-filter-panel .x4-grid-body,
.x4-reset .report-filter-panel .x4-column-header {
    border-color: transparent;
}

.x4-reset .report-filter-panel .x4-grid-row.x4-grid-row-over,
.x4-reset .report-filter-panel .x4-column-header-over {
    background-color: #F6F6F6;
    background-image: none;
}

.x4-reset .report-filter-panel .x4-grid-row .x4-grid-cell-special {
    background: transparent;
}

.x4-reset .report-filter-panel .x4-grid-row-selected .x4-grid-cell,
.x4-reset .report-filter-panel .x4-grid-row-selected .x4-grid-rowwrap-div {
    background-color: transparent !important;
}

.x4-reset .report-filter-panel .x4-column-header,
.x4-reset .report-filter-panel .x4-grid-header-ct {
    background-color: transparent;
    background-image: none;
    border: none !important;
}

.x4-reset .report-filter-panel .x4-grid-header-row th
{
    border-color: transparent;
    padding: 0;
}

.x4-reset .report-filter-panel .x4-column-header-inner {
    padding-top: 3px !important;
}

.x4-reset .report-filter-panel .x4-grid-row .x4-grid-cell-row-checker {
    vertical-align: top;
}

.x4-reset .report-filter-panel .x4-grid-group-hd .x4-grid-cell-inner,
.x4-reset .report-filter-panel .filter-description {
    font-size: 11px;
    border-bottom: 0px !important;
}

.x4-reset .report-filter-panel .x4-grid-group-title {
    background-image: none !important;
    padding: 0px !important;
}

.x4-reset .report-filter-panel .category-label {
    font-size: 11px;
    font-weight: bold;
}

.x4-reset .report-filter-panel .category-label-padding {
    padding-left: 6px;
}

/* Part of Browser.js -- migrate if necessary */
table.fb-details {
    margin: 5px 40px;
}

table.fb-details th {
    text-align: right;
    color: #404040;
}

table.fb-details td {
    padding-left: 5px;
}
