<?xml version="1.0" encoding="UTF-8"?>
<etl xmlns="http://labkey.org/etl/xml">
    <name>Hello World</name>
    <description>Check for new Users</description>
    <transforms>
        <transform id="transform1" type="org.labkey.di.pipeline.TransformTask">
            <description>Copy new Users</description>
            <source schemaName="core" queryName="users" />
            <destination schemaName="destSchema" queryName="destQuery" />
        </transform>
        <transform id="test2" type="org.labkey.di.pipeline.TestTask">
            <description>Test Task 2</description>
        </transform>
        <transform id="test3" type="org.labkey.di.pipeline.TestTask">
            <description>Test Task 3</description>
        </transform>
    </transforms>
    <schedule><poll updateTimeColumn="none" createTimeColumn="none2"></poll></schedule>
</etl>