
.summary-stats-dialog .stat-table {
    border-collapse: collapse;
    width: 100%;
}

.summary-stats-dialog .stat-table tr.alt-row {
    background-color: #F4F4F4;
}

.summary-stats-dialog .stat-table td {
    padding: 5px;
}

.summary-stats-dialog .stat-table tr:hover {
    cursor: pointer;
    background-color: #C0C0C0;
}

.summary-stats-dialog .stat-table .check {
    opacity: 0.2;
    vertical-align: top;
}
.summary-stats-dialog .stat-table tr.x4-item-selected .check {
    opacity: 1;
}

.summary-stats-dialog .stat-table .label,
.summary-stats-dialog .stat-table .value {
    opacity: 0.8;
}
.summary-stats-dialog .stat-table tr.x4-item-selected .label,
.summary-stats-dialog .stat-table tr.x4-item-selected .value {
    opacity: 1;
    font-weight: bold;
}

.summary-stats-dialog .stat-table .value {
    text-align: right;
}

.summary-stats-dialog .stat-table .label {
    padding-right: 10px;
}

.summary-stats-dialog .stat-table .indent {
    padding-left: 20px;
}

.summary-stats-dialog .stat-table .description {
    font-size: 12px;
    vertical-align: top;
}