
.summary-stats-panel .stat-table {
    border-collapse: collapse;
    width: 100%;
}

.summary-stats-panel .stat-table tr.lk-stats-alt-row {
    background-color: #F4F4F4;
}

.summary-stats-panel .stat-table td {
    padding: 4px;
}

.summary-stats-panel .stat-table tr:hover {
    background-color: #C0C0C0;
}

.summary-stats-panel .stat-table .lk-stats-check {
    vertical-align: top;
}

.summary-stats-panel .stat-table .lk-stats-value {
    text-align: right;
}

.summary-stats-panel .stat-table .lk-stats-label {
    padding-right: 10px;
}

.summary-stats-panel .stat-table .lk-stats-indent {
    padding-left: 20px;
}

.summary-stats-panel .stat-table .lk-stats-description {
    font-size: 12px;
    vertical-align: top;
}