<head>
<script type="text/javascript">
LABKEY.requiresExt4ClientAPI();
LABKEY.requiresScript("/extWidgets/ImportPanel.js");
LABKEY.requiresScript("/extWidgets/SearchPanel.js");
LABKEY.requiresScript("extWidgets/DetailsPanel.js");

</script>
<script type="text/javascript">
Ext4.onReady(function(){
    var webpart = <%=webpartContext%>;

    Ext4.get(webpart.wrapperDivId).update(
        '<h3>Form Panel:</h3><div id="formPanel"></div><hr><p></p>' +
        '<h3>Grid Panel:</h3><div id="gridPanel"></div><hr>' +
        '<h3>Details Panel:</h3><div id="detailsPanel"></div><hr>' +
        '<h3>Excel Upload Panel:</h3><div id="excelUploadPanel"></div><hr>' +
        '<h3>Import Panel:</h3><div id="importPanel"></div><hr>' +
        '<h3>Search Panel:</h3><div id="searchPanel"></div><hr>'
    );

    var schemaName = 'core';
    var queryName = 'containers';
    var filterArray = [LABKEY.Filter.create('entityid', LABKEY.Security.currentContainer.id, LABKEY.Filter.Types.EQUALS)];

    var store = Ext4.create('LABKEY.ext4.data.Store', {
        autoLoad: true,
        schemaName: schemaName,
        queryName: queryName
    });

    Ext4.create('LABKEY.ext4.FormPanel', {
        title: 'Form Panel',
        renderTo: 'formPanel',
        store: store,
        metadata: {
            Name: {
                fieldLabel: 'Folder Name'
            }
        }
    });

    Ext4.create('LABKEY.ext4.GridPanel', {
        title: 'Grid Panel',
        renderTo: 'gridPanel',
        tbar: [
            LABKEY.ext4.GRIDBUTTONS.getButton('ADDRECORD'),
            LABKEY.ext4.GRIDBUTTONS.getButton('DELETERECORD')
        ],
        store: store
    });

    Ext4.create('LABKEY.ext.DetailsPanel', {
        renderTo: 'detailsPanel',
        store: {
            schemaName: schemaName,
            queryName: queryName,
            filterArray: filterArray
        }
    });

    Ext4.create('LABKEY.ext4.ExcelUploadPanel', {
        renderTo: 'excelUploadPanel',
        schemaName: schemaName,
        queryName: queryName
    });

    Ext4.create('LABKEY.ext.ImportPanel', {
        renderTo: 'importPanel',
        schemaName: schemaName,
        queryName: queryName,
        store: store
    });

    Ext4.create('LABKEY.ext4.SearchPanel', {
        title: 'Search Panel',
        border: true,
        renderTo: 'searchPanel',
        schemaName: schemaName,
        queryName: queryName,
        store: store
    });

});

</script>
</head>