<style type="text/css">
    .labkey-error {
        margin-top: 15px;
    }
    .register-text {
        padding-left: 5px;
        padding-right: 5px;
    }
    .loginSubmitButton {
        position: absolute;
        left: -9999px;
        width: 1px;
        height: 1px;
    }
</style>

<form class="auth-form" name="login" action="javascript:void(0)">
    <div class="auth-header">Sign In</div>
    <div class="labkey-error" id="errors"></div>
    <div class="auth-form-body">
        <label for="email">Email</label>
            <input id="email" name="email" type="text" class="input-block" tabindex="1" >
            <label for="password">
                Password <a href="login-resetPassword.view?">(forgot password)</a>
            </label>
            <input id="password" name="password" type="password" class="input-block" tabindex="2" autofocus>
            <input type=checkbox name="remember" id="remember"  checked>
            <label for="remember">Remember my email address</label>
        <div class="termsOfUseSection">
            <div class="auth-header auth-item">Terms of Use</div>
            <div class="toucontent auth-item termsOfUseContent"></div>
            <div class="auth-item">
                <input type="checkbox" name="approvedTermsOfUse" id="approvedTermsOfUse" class="auth-item" unchecked>
                <label for="approvedTermsOfUse">I agree to these terms</label>
            </div>
        </div>
        <input type="hidden" name="termsOfUseType" id="termsOfUseType">
        <div class="auth-item auth-credentials-submit">
            <input type="submit" tab-index="-1" class="loginSubmitButton"/><a class="labkey-button signin-btn" ><span>Sign In</span></a>
            <span class="registrationSection">
                <span class="register-text">or</span>
                <a class="labkey-text-link" href="login-register.view?">Register for a new account</a>
            </span>
        </div>

        <input type="hidden" name="returnUrl">
        <input type="hidden" id="urlhash" name="urlhash">
        <input type=hidden name='X-LABKEY-CSRF'>
    </div>
</form>
<div class="otherLoginMechanismsSection">
    <br><h3>Or</h3>
    <div class="auth-header">Sign In using:</div>
    <br>
    <div class="otherLoginMechanismsContent"></div>
</div>
