<style type="text/css">
    .labkey-error {
        margin-top: 15px;
    }
</style>

<div class="auth-form">
    <div class="auth-header">Default Sign In With Ajax</div>
    <div class="labkey-error" id="errors"></div>
    <div class="auth-form-body">
        <div class="auth-credentials-form">
            <label for="email">Email</label>
            <input id="email" name="email" type="text" class="input-block" tabindex="1" >
            <label for="password">
                Password <a href="resetPassword.view?">(forgot password)</a>
            </label>
            <input id="password" name="password" type="password" class="input-block" tabindex="2" autofocus>
            <input type=checkbox name="remember" id="remember"  checked>
            <label for="remember">Remember my email address</label>
        </div>
        <div class="termsOfUseSection">
            <div class="auth-header auth-item">Terms of Use</div>
            <div class="toucontent auth-item termsOfUseContent"></div>
            <div class="auth-item">
                <input type="checkbox" name="approvedTermsOfUse" id="approvedTermsOfUse" class="auth-item" unchecked>
                <label for="approvedTermsOfUse">I agree to these terms</label>
            </div>
        </div>
        <input type="hidden" name="termsOfUseType" id="termsOfUseType" value="NONE">

        <div class="auth-item auth-credentials-submit">
            <a class="labkey-button signin-btn" ><span>Sign In</span></a>
        </div>
        <div class="auth-item agree-only-submit">
            <a class="labkey-button auth-btn" ><span>Agree</span></a>
        </div>
    </div>
    <input type="hidden" name="returnUrl">
    <input type="hidden" id="urlhash" name="urlhash">
    <input type=hidden name='X-LABKEY-CSRF'>
</div>
<div class="otherLoginMechanismsSection">
    <br><h3>Or</h3>
    <div class="auth-header">Sign In using:</div>
    <br>
    <div class="otherLoginMechanismsContent"></div>
</div>
