<div class="container">
    <h1>LabKey Style Guide</h1>
    <p class="lead">Where you can throw it over the wall to design!</p>
    <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            JavaScript Working!
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Action</a></li>
            <li><a href="#">Action 2</a></li>
            <li><a href="#">Action 3</a></li>
            <li><a href="#">Action 4</a></li>
        </ul>
    </div>
</div>