<div class="container">
    <h1>LabKey Style Guide</h1>
    <p class="lead">Where you can throw it over the wall to design!</p>
    <div class="dropdown">
        <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            JavaScript Working!
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dLabel">
            <li><a href="#">Action</a></li>
            <li><a href="#">Action 2</a></li>
            <li><a href="#">Action 3</a></li>
            <li><a href="#">Action 4</a></li>
        </ul>
    </div>
    <div class="lk-sg-section">
        <h2 class="page-header">Typography</h2>
        <h3>Headings</h3>
        <p>Displays all the headers</p>
        <div class="lk-sg-example lk-sg-example-typography">
            <table class="table">
                <tbody>
                <tr><td><h1>h1. LabKey Heading</h1></td></tr>
                <tr><td><h2>h2. LabKey Heading</h2></td></tr>
                <tr><td><h3>h3. LabKey Heading</h3></td></tr>
                <tr><td><h4>h4. LabKey Heading</h4></td></tr>
                <tr><td><h5>h5. LabKey Heading</h5></td></tr>
                <tr><td><h6>h6. LabKey Heading</h6></td></tr>
                </tbody>
            </table>
        </div>
        <h3>Elements</h3>
        <p>Different types of elements</p>
        <div class="lk-sg-example lk-sg-example-typography">
            <table class="table">
                <tbody>
                <tr><td><strong>strong. Display some text.</strong></td></tr>
                <tr><td><p>p. Display some text.</p></td></tr>
                <tr><td><em>em. Display some text.</em></td></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="lk-sg-section">
        <h2>Buttons</h2>
        <p>btn-default buttons using &lt;a&gt;, &lt;button&gt;, or &lt;input&gt; element.</p>
        <div class="lk-sg-example">
            <a class="btn btn-default" href="#" role="button">Link</a>
            <button class="btn btn-default" type="submit">Button</button>
            <input class="btn btn-default" type="button" value="Input">
            <input class="btn btn-default" type="submit" value="Submit">
        </div>
        <p>btn-primary buttons using &lt;a&gt;, &lt;button&gt;, or &lt;input&gt; element.</p>
        <div class="lk-sg-example">
            <a class="btn btn-primary" href="#" role="button">Link</a>
            <button class="btn btn-primary" type="submit">Button</button>
            <input class="btn btn-primary" type="button" value="Input">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
        <p>Use any of the available button classes to quickly create a styled button.</p>
        <div class="lk-sg-example">
            <button type="button" class="btn btn-default">Default</button>
            <button type="button" class="btn btn-primary">Primary</button>
            <button type="button" class="btn btn-success">Success</button>
            <button type="button" class="btn btn-info">Info</button>
            <button type="button" class="btn btn-warning">Warning</button>
            <button type="button" class="btn btn-danger">Danger</button>
            <button type="button" class="btn btn-link">Link</button>
        </div>
        <p>Different sizes of buttons.</p>
        <div class="lk-sg-example">
            <p>
                <button type="button" class="btn btn-primary btn-lg">Large button</button>
                <button type="button" class="btn btn-default btn-lg">Large button</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary">Default button</button>
                <button type="button" class="btn btn-default">Default button</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-sm">Small button</button>
                <button type="button" class="btn btn-default btn-sm">Small button</button>
            </p>
            <p>
                <button type="button" class="btn btn-primary btn-xs">Extra small button</button>
                <button type="button" class="btn btn-default btn-xs">Extra small button</button>
            </p>
        </div>
        <p>Basic button group.</p>
        <div class="lk-sg-example">
            <div class="btn-group" role="group" aria-label="Basic Example">
                <button type="button" class="btn btn-default">Left</button>
                <button type="button" class="btn btn-default">Middle</button>
                <button type="button" class="btn btn-default">Right</button>
            </div>
        </div>
    </div>
    <div class="lk-sg-section">
        <h2 class="page-header">Forms</h2>
        <p>Plain form</p>
        <div class="lk-sg-example">
            <form action="plain">
                <div>
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" id="exampleInputEmail1" placeholder="Email">
                </div>
            </form>
        </div>
        <p>Inline form</p>
        <div class="lk-sg-example">
            <form class="form-inline" action="inline">
                <div class="form-group">
                    <label for="exampleInputName2">Name</label>
                    <input type="text" class="form-control" id="exampleInputName2" placeholder="M Beaker">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">Email</label>
                    <input type="email" class="form-control" id="exampleInputEmail2" placeholder="beaker@labkey.com">
                </div>
                <button type="submit" class="btn btn-default">Send invitation</button>
            </form>
        </div>
        <p>Horizontal form</p>
        <div class="lk-sg-example">
            <div class="panel panel-default">
                <div class="panel-body">
                    <form class="form-horizontal" action="horizontal">
                        <div class="form-group">
                            <label for="exampleInputName2">Name</label>
                            <input type="text" class="form-control" id="exampleInputName2" placeholder="M Beaker">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail2">Email</label>
                            <input type="email" class="form-control" id="exampleInputEmail2" placeholder="beaker@labkey.com">
                        </div>
                        <button type="submit" class="btn btn-default">Send invitation</button>
                    </form>
                </div>
            </div>
        </div>
        <p>LabKey property form using tables (DEPRECATED)</p>
        <div class="lk-sg-example">
            <form action="labkey">
                <table width="100%" cellpadding="0">
                    <tr>
                        <td class="labkey-form-label">Header short name (appears in every page header and in emails)</td>
                        <td><input type="text" name="systemShortName" size="50" value="LabKey Server"></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
    <!--<div class="lk-sg-section">-->
        <!--<h2 class="page-header">Components</h2>-->
        <!--<h3>Query Web Part</h3>-->
        <!--<div class="lk-sg-example">-->
            <!--<div id="querywebpart">This will display a QueryWebPart</div>-->
        <!--</div>-->
        <!--<script type="application/javascript">-->
            <!--(function($) {-->
                <!--$(function() {-->
                    <!--var qwp = new LABKEY.QueryWebPart({-->
                        <!--renderTo: 'querywebpart',-->
                        <!--schemaName: 'core',-->
                        <!--queryName: 'users'-->
                    <!--})-->
                <!--});-->
            <!--})(jQuery);-->
        <!--</script>-->
    <!--</div>-->
    <div class="lk-sg-section">
        <h2 class="page-header">ExtJS 3.4.1</h2>
        <div class="lk-sg-example">
            <div class="lk-sg-example-ext3">
                <div id="ext3-panel" class="extContainer"></div>
                <div id="ext3-button" class="extContainer"></div>
                <div id="ext3-dialog" class="extContainer"></div>
            </div>
            <script type="application/javascript">
                if (typeof Ext !== 'undefined') {
                    Ext.onReady(function() {
                        var panel = new Ext.Panel({
                            renderTo: 'ext3-panel',
                            title: 'Ext 3 Panel',
                            html: 'Body',
                            bbar: [{
                                text: 'Button One'
                            },{
                                text: 'Button Two'
                            },{
                                text: 'Button Three'
                            }]
                        });

                        var btn = new Ext.Button({
                            renderTo: 'ext3-button',
                            text: 'Ext 3 Button'
                        });

                        var dialog = new Ext.Button({
                            renderTo: 'ext3-dialog',
                            text: 'See Modal Window',
                            handler: function() {
                                var win = new Ext.Window({
                                    title: 'Ext 3 Window',
                                    height: 300,
                                    width: 400,
                                    modal: true,
                                    html: 'Content',
                                    buttons: [{
                                        text: 'Cancel'
                                    },{
                                        text: 'Ok'
                                    }]
                                }).show();
                            }
                        });
                    });
                }
                else {
                    document.getElementById('ext3-panel').innerHTML = 'Ext 3 is not available.'
                }
            </script>
        </div>
    </div>
    <div class="lk-sg-section">
        <h2 class="page-header">ExtJS 4.2.1</h2>
        <div class="lk-sg-example">
            <div class="lk-sg-example-ext3">
                <div id="ext4-panel"></div>
                <div id="ext4-button"></div>
                <div id="ext4-dialog"></div>
                <div id="ext4-form"></div>
            </div>
            <script type="application/javascript">
                if (typeof Ext4 !== 'undefined') {
                    Ext4.onReady(function() {
                        var panel = new Ext4.Panel({
                            renderTo: 'ext4-panel',
                            title: 'Ext 4 Panel',
                            html: 'Body',
                            bbar: [{
                                text: 'Button One'
                            },{
                                text: 'Button Two'
                            },{
                                text: 'Button Three'
                            }]
                        });

                        var btn = new Ext4.Button({
                            renderTo: 'ext4-button',
                            text: 'Ext 4 Button'
                        });

                        var dialog = new Ext4.Button({
                            renderTo: 'ext4-dialog',
                            text: 'See Modal Window',
                            handler: function() {
                                var win = new Ext4.Window({
                                    title: 'Ext 4 Window',
                                    height: 300,
                                    width: 400,
                                    modal: true,
                                    html: 'Content'
                                }).show();
                            }
                        });

                        var form = new Ext4.Panel({
                            width: 500,
                            height: 300,
                            title: "Ext4 Form",
                            layout: 'form',
                            renderTo: 'ext4-form',
                            bodyPadding: 20,
                            defaultType: 'textfield',
                            dockedItems: [{
                                xtype: 'toolbar',
                                dock: 'bottom',
                                items: [{
                                    text: 'Save'
                                },{
                                    text: 'Cancel'
                                }]
                            }],
                            items: [{
                                fieldLabel: 'First Name',
                                name: 'first',
                                allowBlank:false
                            }, {
                                fieldLabel: 'Last Name',
                                name: 'last'
                            }, {
                                fieldLabel: 'Gendar',
                                xtype: 'radiogroup',
                                allowBlank: false,
                                name: 'gender',
                                layout: 'hbox',
                                items: [{
                                        boxLabel: 'male',
                                        checked: true
                                    },
                                    {
                                        boxLabel: 'female'
                                    }]
                            }, {
                                fieldLabel: 'Order Date',
                                name: 'date',
                                xtype: 'datefield'
                            }, {
                                fieldLabel: 'Quantity',
                                name: 'quantity',
                                xtype: 'numberfield'
                            }, {
                                xtype: 'timefield',
                                fieldLabel: 'Order Time',
                                name: 'time',
                                minValue: '8:00am',
                                maxValue: '6:00pm'
                            }, {
                                xtype: 'checkboxgroup',
                                fieldLabel: 'Toppings',
                                name: 'order',
                                items: [
                                    {
                                        boxLabel  : 'Anchovies',
                                        name      : 'topping',
                                        inputValue: '1'
                                    }, {
                                        boxLabel  : 'Artichoke Hearts',
                                        name      : 'topping',
                                        inputValue: '2',
                                        checked   : true
                                    }, {
                                        boxLabel  : 'Bacon',
                                        name      : 'topping',
                                        inputValue: '3'
                                    }
                                ]
                            }]
                        });

                    });
                }
                else {
                    document.getElementById('ext4-panel').innerHTML = 'Ext 4 is not available.'
                }
            </script>
        </div>
    </div>
</div>