<!-- this is a test html file for exercising the custom login feature -->
<!-- this test can be activated by setting the Look and Feel Settings property of Custom Login to the value 'core-testCustomLogin'. -->
<form class="auth-form" name="login" action="javascript:void(0)">
    <div class="auth-header">Sign In</div>
    <p>Core Module Custom Sign In</p>
    <div class="labkey-error" id="errors"></div>
    <div class="auth-form-body">
        <label for="email">Email</label>
        <input id="email" name="email" type="text" class="input-block" tabindex="1" >
        <label for="password">
            Password <a href="login-resetPassword.view?">(forgot password)</a>
        </label>
        <input id="password" name="password" type="password" class="input-block" tabindex="2" autofocus>
        <input type=checkbox name="remember" id="remember"  checked>
        <label for="remember">Remember my email address</label>
        <div class="termsOfUseSection">
            <div class="auth-header auth-item">Terms of Use</div>
            <div class="toucontent auth-item termsOfUseContent"></div>
            <div class="auth-item">
                <input type="checkbox" name="approvedTermsOfUse" id="approvedTermsOfUse" class="auth-item" unchecked>
                <label for="approvedTermsOfUse">I agree to these terms</label>
            </div>
        </div>
        <input type="hidden" name="termsOfUseType" id="termsOfUseType">
        <div class="auth-item auth-credentials-submit">
            <input type="submit" tab-index="-1" style="position: absolute; left: -9999px; width: 1px; height: 1px;" class="loginSubmitButton"/>
            <a class="labkey-button primary signin-btn"><span>Sign In</span></a>
        </div>
        <input type="hidden" name="returnUrl">
        <input type="hidden" id="urlhash" name="urlhash">
        <input type=hidden name='X-LABKEY-CSRF'>
    </div>
</form>
<div class="otherLoginMechanismsSection" hidden>
    <div class="auth-header">Sign In using:</div>
    <div class="otherLoginMechanismsContent"></div>
</div>
